<section class="portfolio-tmpl">
    <div class="portfolio-tmpl__container">
        <div class="portfolio-tmpl__header">
            <div class="portfolio-tmpl__header-top">
                <h1 class="portfolio-tmpl__title">Responsive Website for a UK Language Academy</h1>
                <div class="portfolio-tmpl__customer">Customer: <span class="portfolio-tmpl__customer-name">WE Bridge Academy</span></div>
            </div>
            <div class="portfolio-tmpl__client-info">
                <a href="http://www.we-bridge.co.uk/" rel="nofollow" target="_blank" class="portfolio-tmpl__link">We-bridge.co.uk</a>
            </div>
            <p class="portfolio-tmpl__desc">WE BRIDGE is a professional language academy located in Cardiff, Wales, United Kingdom. The academy specializes in training of executives, managers and scientists.</p>
            <p class="portfolio-tmpl__desc">LOVATA has designed and developed a website with a new corporate identity and automation of enrollment process, allowing users to apply for courses and make payments. Also, foreign citizens can receive support on issues related to receiving a visa and other relevant topics via private dashboard after signing in.</p>
        </div>
        <div class="portfolio-tmpl__content">
            <img src="{{ 'assets/img/portfolio_site/we-bridge/WeBr_index.png'| theme }}" alt="" class="portfolio-tmpl__img">
            <img src="{{ 'assets/img/portfolio_site/we-bridge/WeBr_Life.png'| theme }}" alt="" class="portfolio-tmpl__img">
            <img src="{{ 'assets/img/portfolio_site/we-bridge/WeBr_courses_1lvl.png'| theme }}" alt="" class="portfolio-tmpl__img">
            <img src="{{ 'assets/img/portfolio_site/we-bridge/WeBr_LK_Step1_PerInf.png'| theme }}" alt="" class="portfolio-tmpl__img">
            <img src="{{ 'assets/img/portfolio_site/we-bridge/WeBr_teacher_one.png'| theme }}" alt="" class="portfolio-tmpl__img">

        </div>
        <div class="portfolio-tmpl__tech">
            <h2 class="portfolio-tmpl__tech-title">Technologies:</h2>
            <div class="portfolio-tmpl__tech-list">
                <a href="{{ 'october'| page }}" class="portfolio-tmpl__tech-link"># October</a>
                <a href="{{ 'js-dev' | page }}" class="portfolio-tmpl__tech-link stub"># EcmaScript 2015 (ES6)</a>
                <a href="{{ 'php-dev' | page }}" class="portfolio-tmpl__tech-link stub"># PHP</a>
                <a href="#" class="portfolio-tmpl__tech-link stub"># MySQL</a>
            </div>
        </div>
    </div>
    <div class="portfolio-tmpl__similar">
        <h2 class="portfolio-tmpl__similar-title">Similar projects</h2>
        <div class="portfolio-tmpl__similar-list">
            <div class="portfolio__item">
                <a href="{{ 'portfolio-sci-reader'| page }}" class="portfolio__item-link">
                    <img src="{{ 'assets/img/portfolio-prev/scireader.png'| theme}}" alt="scireader preview image" class="portfolio__img-prev"/>
                    <div class="portfolio__item-desc">
                        <p class="portfolio__item-desc-title">SciReader</p>
                        <p class="portfolio__item-desc-text">Responsive web platform for Stanford University</p>
                    </div>
                </a>
            </div>
            <div class="portfolio__item">
                <a href="{{ 'portfolio-gozebra'| page }}" class="portfolio__item-link">
                    <img src="{{ 'assets/img/portfolio-prev/gozebra.png'| theme}}" alt="Car Insurance Aggregator: Web App, Mobile Apps and CRM preview" class="portfolio__img-prev"/>
                    <div class="portfolio__item-desc">
                        <p class="portfolio__item-desc-title">Gozebra.kz</p>
                        <p class="portfolio__item-desc-text">Car Insurance Aggregator: Web App, Mobile Apps and CRM</p>
                    </div>
                </a>
            </div>
            <div class="portfolio__item">
                <a href="{{ 'portfolio-cuepath'| page }}" class="portfolio__item-link">
                    <img src="{{ 'assets/img/portfolio-prev/cuepath.png'| theme}}" alt="cuepath preview image" class="portfolio__img-prev"/>
                    <div class="portfolio__item-desc">
                        <p class="portfolio__item-desc-title">CuePath.io</p>
                        <p class="portfolio__item-desc-text">Applications for the Internet of things (IoT)</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
{% partial 'components/small-footer/small-footer' %}
