{% set domainClean = APP_URL | replace('http://', '') | replace('https://', '') %}
{% set wwwDomainClean = 'www.'~ domainClean %}
{% set currentFullNameString = domainClean ~' '~ wwwDomainClean %}

server {
    listen          80;
    server_name {{ wwwDomainClean }};
    return 301 https://{{ domainClean }}$request_uri;
}

server {
    listen 80;
    index index.html index.php;
    server_name {{ domainClean }};
    client_max_body_size 20M;

    # Отключаем мерж слешей
    merge_slashes off;
    rewrite ^(.*/)index\.(php|html?)$ $1 permanent;
    if ($request_uri ~* "^(.*)/index\.php(.*)") {
        return 301 $1$2;
    }

    location ~* .*//+.* {
        rewrite (.*)//+(.*) $1/$2 permanent;
    }

    root /var/www/html/;
    index index.php index.html index.htm;

   if ($http_x_requested_with = XMLHttpRequest) {
       rewrite ^/.*$ /index.php last;
   }

   if ($request_method ~ ^(POST|PATCH|PUT|DELETE)$) {
       rewrite ^/.*$ /index.php last;
   }

   location = / {
       try_files /storage/quicksilver/get.qs_index_qs.html @rewrite;
   }

   location / {
       try_files /storage/quicksilver/get.$uri.html /storage/quicksilver/get.$uri.json @rewrite;
   }

   location @rewrite {
       rewrite ^/.*$ /index.php last;
   }

    error_log  /var/log/nginx/error.log;
    access_log /var/log/nginx/access.log;

    location = /favicon.ico { access_log off; log_not_found off; }
    location = /robots.txt  { access_log off; log_not_found off; }

    error_page 404 /index.php;

    include snippets/gzip.conf;
    include snippets/static.conf;
    include snippets/php.conf;
    include snippets/whitelist.conf;

    {% if APP_ENV in ["local", "development"] %}
    include snippets/mailhog.conf;
    {% endif %}
}
