<div class="bel"  data-logo="black">
    <section class="bel__banner">
        <div class="bel__banner-inner __inner">
            <h1 class="bel__banner--title">MyCity Portal Development for E-government Information System</h1>
            <date class="bel__banner--date">10/04/2018</date>
        </div>
    </section>
    <section class="bel__about">
        <div class="bel__about--inner __inner">
            <a class="bel__about--link" href="http://115.бел/" rel="nofollow" target="_blank">115.бел</a>
            <p class="bel__about--theme"><strong class="bel__about--theme_strong">Сustomer:</strong> Minsk City Executive Committee, Information Technology Center.</p>
            <div class="bel__about--info">
                <h2 class="bel__about--info-title __title">Project Overview</h2>
                <p class="bel__about--info-text __text">‘My City’ Portal is a unique project, developed with an ultimate goal to improve citizens’ living conditions and the overall look of Minsk city and its neighborhoods by engaging citizens to actively participate in the life of their community.</p>
                <p class="bel__about--info-text __text">Another goal of the project was to give government officials a convenient way to monitor the effectiveness of work of state agencies and to improve the quality of services they provide.</p>
            </div>
        </div>
    </section>
    <section class="bel__idea">
        <div class="bel__idea--inner __inner">
            <ul class="bel__idea--info">
                <li class="bel__idea--info-card">
                    <h2 class="bel__idea--info-card-title __title">The Problem</h2>
                    <p class="bel__idea--info-card-text">Municipal services and organizations are mostly under direct control of the government in the Republic of Belarus. Historically, this led to problems with slow reaction to arising needs for proper maintenance of roads, sidewalks, parks and overall infrastructure and buildings’ sanitary conditions.</p>
                    <p class="bel__idea--info-card-text">It was decided to create a reliable Geographic Information service aimed at receiving online requests from citizens regarding municipal and housing issues in their communities.</p>
                </li>
                <li class="bel__idea--info-card">
                    <h2 class="bel__idea--info-card-title __title">The Solution</h2>
                    <p class="bel__idea--info-card-text">The portal allows citizens to send requests on issues regarding municipal and housing services. </p>
                    <p class="bel__idea--info-card-text">The completion report, sent by a representative of an assigned municipal organization within 7 working days, contains information regarding the work that has been completed to solve the problem and the timeline, starting from the moment the issue was posted on the website. This information is presented in the form of a “before and after” report. </p>
                </li>
            </ul>
            <figure class="bel__idea--photo __photo-block">
                <img class="bel__idea--photo-img" src="/themes/lovata/assets/img/portfolio_site/115bel/home-page-statistics-register-an-issue-completed-issues.png" alt="Home Page: Statistics, Register an Issue, Completed Issues">
                <figcaption class="bel__idea--photo-description">Home Page: Statistics, Register an Issue, Completed Issues</figcaption>
            </figure>
            <div class="bel__idea--info">
                <p class="bel__idea--info-text __text">The portal is also used by government officials to monitor the state of infrastructure, trafficways, transport junctions, outdoor lighting, cleaning and gathering garbage, landscaping and development, etc.</p>
            </div>
        </div>
    </section>
    <section class="bel__profile">
        <div class="bel__profile--inner __inner">
            <div class="bel__profile--hdtw">
                <h2 class="bel__profile--hdtw-title __title">How does this work?</h2>
                <ul class="bel__profile--hdtw-list">
                    <li class="bel__profile--hdtw-list_item __first">
                        <div class="bel__profile--hdtw-list_item--info">
                            <h3 class="bel__profile--hdtw-list_item-title">Issue Discovery</h3>
                            <p class="bel__profile--hdtw-list_item-text">Once a problem that needs to be fixed is discovered, a user takes a picture of the issue and records its location.</p>
                        </div>
                    </li>
                    <li class="bel__profile--hdtw-list_item __second">
                        <div class="bel__profile--hdtw-list_item--info">
                            <h3 class="bel__profile--hdtw-list_item-title">Issue Reporting</h3>
                            <p class="bel__profile--hdtw-list_item-text">The user then prepares a request to fix the issue by attaching the image to a short form with its description and exact location. This can be done through the website or via iOS or Android app.</p>
                        </div>
                    </li>
                    <li class="bel__profile--hdtw-list_item __third">
                        <div class="bel__profile--hdtw-list_item--info">
                            <h3 class="bel__profile--hdtw-list_item-title">Moderation</h3>
                            <p class="bel__profile--hdtw-list_item-text">The request goes through moderation and is then forwarded to appropriate municipal agency. The user is notified that the issue is scheduled to be resolved.</p>
                        </div>
                    </li>
                    <li class="bel__profile--hdtw-list_item __fourth">
                        <div class="bel__profile--hdtw-list_item--info">
                            <h3 class="bel__profile--hdtw-list_item-title">Issue resolved</h3>
                            <p class="bel__profile--hdtw-list_item-text">The agency assigns appropriate staff that travel to the site to fix the issue. Once the job is done, the workers take a picture of the resolved issue and upload it to the system. </p>
                        </div>
                    </li>
                    <li class="bel__profile--hdtw-list_item  __fifth">
                        <div class="bel__profile--hdtw-list_item--info">
                            <h3 class="bel__profile--hdtw-list_item-title">Report</h3>
                            <p class="bel__profile--hdtw-list_item-text">A report is generated and uploaded to the website in before/after format.</p>
                        </div>
                    </li>
                    <li class="bel__profile--hdtw-list_item __sixth">
                        <div class="bel__profile--hdtw-list_item--info">
                            <h3 class="bel__profile--hdtw-list_item-title">Rating and comment </h3>
                            <p class="bel__profile--hdtw-list_item-text">The user receives notification and is able to rate the work by leaving a comment and a star rating on a scale from 1 to 5. The requests are usually taken care of within 7 working days.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="bel__profile--example">
                <div class="bel__profile--example_before">
                    <img src="/themes/lovata/assets/img/portfolio_site/115bel/before.png" alt="Example before" class="bel__profile--example_before-img">
                    <p  class="bel__profile--example_before-text">Before</p>
                </div>
                <div class="bel__profile--example_after">
                    <img src="/themes/lovata/assets/img/portfolio_site/115bel/after.png" alt="Example after" class="bel__profile--example_after-img">
                    <p  class="bel__profile--example_after-text">After</p>
                </div>
            </div>
            <figure class="bel__profile--photo  __photo-block">
                <img class="bel__profile--photo-img" src="/themes/lovata/assets/img/portfolio_site/115bel/issues-map-list-of-issues-with-geolocations.png" alt="Issues Map: List of Issues with Geolocations">
                <figcaption class="bel__profile--photo-description">Issues Map: List of Issues with Geolocations</figcaption>
            </figure>
        </div>
    </section>
    <section class="bel__results">
        <div class="bel__results--inner __inner">
            <div class="bel__results--info">
                <h2 class="bel__results--info-title __title">The Results</h2>
                <p class="bel__results--info-text  __text">The developed e-government service eliminated the need to contact municipal organizations directly or searching for appropriate specialists and persons that are responsible for  proper maintenance of city’s property and infrastructure. </p>
            </div>
            <div class="bel__results--statistick">
                <div  class="bel__results--statistick-photo">
                    <img src="/themes/lovata/assets/img/portfolio_site/115bel/bgMinsk_PNG.png">
                </div>
                <div  class="bel__results--statistick-data">
                    <ul class="bel__results--statistick-data-list">
                        <li class="bel__results--statistick-data-item">
                            <h4 class="bel__results--statistick-data-item-name">REQUESTS ACCEPTED</h4>
                            <p class="bel__results--statistick-data-item-score">126 371</p>
                        </li>
                        <li class="bel__results--statistick-data-item">
                            <h4 class="bel__results--statistick-data-item-name">PROBLEMS SOLVED</h4>
                            <p class="bel__results--statistick-data-item-score">116 702</p>
                        </li>
                        <li class="bel__results--statistick-data-item">
                            <h4 class="bel__results--statistick-data-item-name">PARTICIPATING CITIZENS</h4>
                            <p class="bel__results--statistick-data-item-score">58 898</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bel__results--info">
                <p class="bel__results--info-text __text">Regular residents started to actively help municipal organizations of Minsk city to identify infrastructure  maintenance issues. Additionally, citizens can now influence the ratings of municipal organizations, judging them by the quality of the work that has been completed. All this lead to issues being eliminated quickly and efficiently.</p>
            </div>
            <figure class="bel__results--photo  __photo-block">
                <img class="bel__results--photo-img" src="/themes/lovata/assets/img/portfolio_site/115bel/ratings-page-best-city-districts-and-organizations.png" alt="Ratings Page: Best City Districts and Organizations">
                <figcaption class="bel__results--photo-description">Ratings Page: Best City Districts and Organizations</figcaption>
            </figure>
            <div class="bel__results--info">
                <h2 class="bel__results--info-title __title">My City Portal as a Part of Country’s E-&nbsp;government Information System</h2>
                <p class="bel__results--info-text __text">The project started as an initiative for the city of Minsk, but is currently being modernized, and is expected to cover the whole country of Belarus, including all inner cities.</p>
            </div>
        </div>
    </section>
    <section class="bel__optimization">
        <div class="bel__optimization--inner __inner">
            <div class="bell__optimization--info">
                <h2 class="bel__optimization--info-title __title">Performance Optimization</h2>
                <p class="bel__optimization--info-text __text">To provide quick access to massive arrays of data, the data is being cached directly to the server’s RAM using a non-relational database management system, Redis. In addition, the cache is being divided into logical marked fields, which allows updating only the edited data without fully clearing it. This provides the opportunity to avoid executing resourceful tasks that can decrease project’s performance.</p>
                <p class="bel__optimization--info-text __text">To maintain project’s stable performance, background tasks are implemented through the Beanstalkd queue. “Long” tasks are divided into simple ones whenever possible and are executed through a general queue depending on specified priority.</p>
            </div>
            <div class="bel__optimization--scheme">
                <span class="bel__optimization--scheme-item __desktop"><img src="/themes/lovata/assets/img/portfolio_site/115bel/18-layers.png" alt="Performance Optimization Diagram"></span>
                <p class="bel__optimization--scheme-description">Performance Optimization Diagram</p>
            </div>
        </div>
    </section>
    <section class="bel__components">
        <div class="bel__components--inner __inner">
            <div class="bel__components--info">
                <h2 class="bel__components--info-title __title">Project’s Components</h2>
                <p class="bel__components--info-text __text">The project comprises of four physical network nodes:</p>
            </div>
            <div class="bel__components--block">
                <ul class="bel__components--block-list">
                    <li class="bel__components--block-item __green">
                        <h4 class="bel__components--block-item-title">Balancing node</h4>
                        <p class="bel__components--block-item-text">The balancing node serves the purpose of managing the load between two mirrored production-servers of the project. The load balancing algorithm used is Roundrobin. Requests are being sent to servers in a rotating sequential manner. This way, when a certain server node goes down, the other one takes all the load.</p>
                    </li>
                    <li class="bel__components--block-item __yellow">
                        <h4 class="bel__components--block-item-title">Customer Relations Management (CRM) System</h4>
                        <p class="bel__components--block-item-text">The service is integrated with SugarCRM system. Synchronization with the CRM is executed on schedule using the expansion for CL-interface of cURL micro-service.</p>
                    </li>
                    <li class="bel__components--block-item  __blue">
                        <h4 class="bel__components--block-item-title">Geographic Information System (GIS) server</h4>
                        <p class="bel__components--block-item-text">The portal interacts with the OSM layers located on a separate GIS server using a custom API. </p>
                    </li>
                    <li class="bel__components--block-item  __orange">
                        <h4 class="bel__components--block-item-title">Server (master and slave)</h4>
                        <p class="bel__components--block-item-text">The server communicates with the system's CRM and exchanges data. It transfers new user requests and user info to the CRM. It also receives new info on requests and users from the CRM when this data is updated (e.g. via mobile app).</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="bel__tech">
        <div class="bel__tech--inner __inner">
            <h2 class="bel__tech--title">Technologies Used</h2>
            <ul class="bel__tech--list">
                <li class="bel__tech--list-item"><a href="{{ 'laravel-development' | page }}"><img src="/themes/lovata/assets/img/portfolio_site/115bel/laravel-logo-white.png" class="bel__tech--list-item__image __first" alt="laravel"></a></li>
                <li class="bel__tech--list-item"><img src="/themes/lovata/assets/img/portfolio_site/115bel/logo-jquery.png" class="bel__tech--list-item__image __second" alt="jQuery"></li>
                <li class="bel__tech--list-item"><img src="/themes/lovata/assets/img/portfolio_site/115bel/mySQL.png" class="bel__tech--list-item__image __third" alt="MySQL"></li>
                <li class="bel__tech--list-item"><img src="/themes/lovata/assets/img/portfolio_site/115bel/osm-layers.png" class="bel__tech--list-item__image __fourth" alt="OSM Layers"></li>
                <li class="bel__tech--list-item"><img src="/themes/lovata/assets/img/portfolio_site/115bel/1200px-redis-logo-svg.png" class="bel__tech--list-item__image" alt="Redis"></li>
                <li class="bel__tech--list-item"><img src="/themes/lovata/assets/img/portfolio_site/115bel/sugarcrmlogowhitebackground-rgb.png" class="bel__tech--list-item__image" alt="Sugar CRM"></li>
                <li class="bel__tech--list-item"><a href="{{ 'october' | page }}"><img src="/themes/lovata/assets/img/portfolio_site/115bel/octoberCMS.png" class="bel__tech--list-item__image" alt="OctoberCMS"></a></li>
                <li class="bel__tech--list-item"><img src="/themes/lovata/assets/img/portfolio_site/115bel/beanstalk-4cbf614e4b8d5ed6ae5ff17e85278265.png" class="bel__tech--list-item__image __eighth" alt="BeanStalk"></li>
            </ul>
        </div>
    </section>
    <div class="portfolio-tmpl__similar">
            <h2 class="portfolio-tmpl__similar-title">Similar projects</h2>
            <div class="portfolio-tmpl__similar-list">
                <div class="portfolio__item">
                    <a href="{{ 'portfolio-sci-reader'| page }}" class="portfolio__item-link">
                        <img src="{{ 'assets/img/portfolio-prev/scireader.png'| theme }}" alt="scireader preview image" class="portfolio__img-prev"/>
                        <div class="portfolio__item-desc">
                            <p class="portfolio__item-desc-title">SciReader</p>
                            <p class="portfolio__item-desc-text">Responsive web platform for Stanford University</p>
                        </div>
                    </a>
                </div>
                <div class="portfolio__item">
                    <a href="{{ 'portfolio-we-bridge'| page }}" class="portfolio__item-link">
                        <img src="{{ 'assets/img/portfolio-prev/weBridge.png'| theme }}" alt="weBridge preview image" class="portfolio__img-prev"/>
                        <div class="portfolio__item-desc">
                            <p class="portfolio__item-desc-title">we-bridge.co.uk</p>
                            <p class="portfolio__item-desc-text">Responsive Website for a UK language academy</p>
                        </div>
                    </a>
                </div>
                <div class="portfolio__item">
                    <a href="{{ 'portfolio-cuepath'| page }}" class="portfolio__item-link">
                        <img src="{{ 'assets/img/portfolio-prev/cuepath.png'| theme }}" alt="cuepath preview image" class="portfolio__img-prev"/>
                        <div class="portfolio__item-desc">
                            <p class="portfolio__item-desc-title">CuePath.io</p>
                            <p class="portfolio__item-desc-text">Applications for the Internet of things (IoT)</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

</div>

{% partial 'components/small-footer/small-footer' %}
