<div class="hfw">
    <div class="hfw--header portfolio-page">
        <div class="hfw--header-inner">
            <h1 class="hfw--header-title">Corporate website for HostForWeb company</h1>
            <span class="hfw--header-date">12/22/2016</span>
        </div>
    </div>
    <div class="hfw--content">
        <div class="hfw--desc">
            <a class="hfw--desc-link" href="https://www.hostforweb.com/" rel="nofollow" target="_blank">hostforweb.com</a>
            <p class="hfw--desc-text">HostForWeb provides a variety of hosting services ranging from simple shared-hosting to cloud and dedicated hosting.</p>
            <p class="hfw--desc-text">LOVATA designed and developed a custom website with a new corporate identity that provides users a possibility to choose any level of service out of a wide range of possible options presented on the website and to make payment via a variety of payment options. The integration with WHMCS billing system was also carried out.</p>
        </div>
        <div class="hfw--tab js-tabs">
            <div class="hfw--tab-list">
                <img class="hfw--tab-item _active" data-tab-id="desktop" src="{{ 'assets/img/portfolio_site/common/mode-desktop.png'| theme }}" width="54" height="45" alt="иконка настольной версии">
                <img class="hfw--tab-item" data-tab-id="tablet" src="{{ 'assets/img/portfolio_site/common/mode-ipad.png'| theme }}" width="54" height="40" alt="иконка планшетной версии">
                <img class="hfw--tab-item" data-tab-id="mobile" src="{{ 'assets/img/portfolio_site/common/mode-mobile.png'| theme }}" width="27" height="48" alt="иконка мобильной версии">
            </div>
            <div class="hfw--tab-content js-tabsContent">
                <img class="hfw--tab-content-item _active" data-tab-img="desktop" src="{{ 'assets/img/portfolio_site/hostforweb/hfw-features-desktop.jpg'| theme }}" alt="настольная версия страницы услуг">
                <img class="hfw--tab-content-item" data-tab-img="tablet" src="{{ 'assets/img/portfolio_site/hostforweb/hfw-features-ipad.jpg'| theme }}" alt="планшетная версия страницы услуг">
                <img class="hfw--tab-content-item" data-tab-img="mobile" src="{{ 'assets/img/portfolio_site/hostforweb/hfw-features-mobile.jpg'| theme }}" alt="мобильная версия страницы услуг">
                <span class="hfw--tab-content-desc">Services page</span>
            </div>
        </div>
        <div class="hfw--content-inner">
            <p class="hfw--content-text">Each service has its own set of parameters that could differ dramatically from one another. Therefore, several templates for their display have been developed:</p>
        </div>
        <div class="hfw--content-outer">
            <div class="hfw--content-inner">
                <img class="hfw--content-image" src="{{ 'assets/img/portfolio_site/hostforweb/hfw-tmpl.png'| theme }}" alt="шаблоны разработанных страниц">
            </div>
        </div>
        <div class="hfw--content-inner">
            <div class="hfw--content-item">
                <p class="hfw--content-text">The company has a lucrative partner program.</p>
                <img class="hfw--content-image" src="{{ 'assets/img/portfolio_site/hostforweb/hfw-partners.jpg'| theme }}" alt="страница для партнеров">
                <span class="hfw--content-desc">For those who would like to become a partner</span>
            </div>
            <div class="hfw--content-item">
                <img class="hfw--content-image" src="{{ 'assets/img/portfolio_site/hostforweb/icons.png'| theme }}" alt="иконки преимуществ">
                <span class="hfw--content-desc">Each advantage has its own icon</span>
            </div>
            <div class="hfw--content-item">
                <p class="hfw--content-text">HostForWeb company provides a possibility of complete service customization before making a purchase. For customer’s convenience, a template was created with all possible service customization options. Further order pages were created based on this template:</p>
                <img class="hfw--content-image" src="{{ 'assets/img/portfolio_site/hostforweb/hfw-settings.png'| theme }}" alt="страница настройки услуги">
            </div>
        </div>
        <div class="hfw--technologies">
            <h2 class="hfw--technologies-title">Technologies</h2>
            <div class="hfw--technologies-list">
                <a href="{{ 'october'| page }}">
                    <img class="hfw--technologies-item" src="{{ 'assets/img/octoberCMS.png'| theme }}" alt="OctoberCms icon"/>
                </a>
                <a href="{{ 'js-dev'| page }}">
                    <img class="hfw--technologies-item" src="{{ 'assets/img/js.svg'| theme }}"  alt="javaScript icon"/>
                </a>
                <a href="{{ 'php-dev'| page }}">
                    <img class="hfw--technologies-item" src="{{ 'assets/img/php.png'| theme }}"  alt="php icon" />
                </a>
                <img class="hfw--technologies-item" src="{{ 'assets/img/mySQL.png'| theme }}"  alt="mySQL icon" />
                <img class="hfw--technologies-item" src="{{ 'assets/img/whmcs.png'| theme }}"  alt="whmcs icon" />
            </div>
        </div>
    </div>
</div>
<div class="hfw__similar">
    <h2 class="hfw__similar-title">Similar projects</h2>
    <div class="hfw__similar-list">
        <div class="portfolio__item">
            <a href="{{ 'portfolio-the-phone-cellar'| page }}" class="portfolio__item-link">
                <img src="{{ 'assets/img/portfolio-prev/phonecellar.png'| theme }}" alt="phonecellar preview image" class="portfolio__img-prev"/>
                <div class="portfolio__item-desc">
                    <p class="portfolio__item-desc-title">ThePhoneCellar</p>
                    <p class="portfolio__item-desc-text">Ecommerce website development</p>
                </div>
            </a>
        </div>
        <div class="portfolio__item">
            <a href="{{ 'portfolio-jump-wireless'| page }}" class="portfolio__item-link">
                <img src="{{ 'assets/img/portfolio-prev/jumpWireless.png'| theme }}" alt="jumpWireless preview image" class="portfolio__img-prev"/>
                <div class="portfolio__item-desc">
                    <p class="portfolio__item-desc-title">JumpWireless.org</p>
                    <p class="portfolio__item-desc-text">Custom ecommerce application</p>
                </div>
            </a>
        </div>
        <div class="portfolio__item">
            <a href="{{ 'portfolio-cuepath'| page }}" class="portfolio__item-link">
                <img src="{{ 'assets/img/portfolio-prev/cuepath.png'| theme }}" alt="cuepath preview image" class="portfolio__img-prev"/>
                <div class="portfolio__item-desc">
                    <p class="portfolio__item-desc-title">CuePath.io</p>
                    <p class="portfolio__item-desc-text">Applications for the Internet of things (IoT)</p>
                </div>
            </a>
        </div>
    </div>
</div>
{% partial 'components/small-footer/small-footer' %}
