<section class="portfolio-tmpl">
    <div class="portfolio-tmpl__container">
        <div class="portfolio-tmpl__header">
            <div class="portfolio-tmpl__header-top">
                <h1 class="portfolio-tmpl__title">Healthcare CRM System for Hospitals and Medical Centers: MedCRM</h1>
                <span class="portfolio-tmpl__date">05/01/2017</span>
            </div>
            <div class="portfolio-tmpl__client-info">
                <a href="http://medcrm.by/" rel="nofollow" target="_blank" class="portfolio-tmpl__link">medcrm.by</a>
            </div>
            <p class="portfolio-tmpl__desc">LOVATA has developed a Healthcare CRM System for organizing the work of hospitals and medical centers. The application offers automation of internal business processes and medical activities, provides all common CRM system’s functionality, with the main purpose of providing an easy-to use tool for maintaining loyal customer base.</p>
        </div>
        <div class="portfolio-tmpl__content-small">
            <div class="portfolio-tmpl__small-img-wrap js-uploadImg" data-img-path="{{ 'assets/img/portfolio_site/medCRM/1.png'| theme }}">
                <img src="{{ 'assets/img/portfolio_site/medCRM/1-preview.png'| theme }}" alt="screenshot 1" class="portfolio-tmpl__img-small">
            </div>
            <div class="portfolio-tmpl__small-img-wrap js-uploadImg" data-img-path="{{ 'assets/img/portfolio_site/medCRM/2.png'| theme }}">
                <img src="{{ 'assets/img/portfolio_site/medCRM/2-preview.png'| theme }}" alt="screenshot 2" class="portfolio-tmpl__img-small">
            </div>
            <div class="portfolio-tmpl__small-img-wrap js-uploadImg" data-img-path="{{ 'assets/img/portfolio_site/medCRM/3.png'| theme }}">
                <img src="{{ 'assets/img/portfolio_site/medCRM/3-preview.png'| theme }}" alt="screenshot 3" class="portfolio-tmpl__img-small">
            </div>
        </div>
        <div class="portfolio-tmpl__desc-small">
            <p class="portfolio-tmpl__desc">The CRM system is customizable and scalable. It can be used by businesses of any size, starting from small private clinics to large hospital networks.</p>
            <p class="portfolio-tmpl__desc">Pleasant-looking and user-friendly interface was created with a deep understanding of all healthcare processes and industry specifics. There are two product’s versions: SaaS and standalone solution.</p>
        </div>
        <div class="portfolio-tmpl__content-small">
            <div class="portfolio-tmpl__small-img-wrap js-uploadImg" data-img-path="{{ 'assets/img/portfolio_site/medCRM/4.png'| theme }}">
                <img src="{{ 'assets/img/portfolio_site/medCRM/4-preview.png'| theme }}" alt="screenshot 4" class="portfolio-tmpl__img-small">
            </div>
            <div class="portfolio-tmpl__small-img-wrap js-uploadImg" data-img-path="{{ 'assets/img/portfolio_site/medCRM/5.png'| theme }}">
                <img src="{{ 'assets/img/portfolio_site/medCRM/5-preview.png'| theme }}" alt="screenshot 5" class="portfolio-tmpl__img-small">
            </div>
        </div>
        <div class="portfolio-tmpl__feature _small-images-portfolio">
            <h2 class="portfolio-tmpl__feature-title">Our CRM system allows businesses of all sizes to:</h2>
            <ul class="portfolio-tmpl__feature-list">
                <li class="portfolio-tmpl__feature-item">1. Attract, service and retain customers;</li>
                <li class="portfolio-tmpl__feature-item">2. Register, organize and manage the customer flow;</li>
                <li class="portfolio-tmpl__feature-item">3. Automate facility’s workflow;</li>
                <li class="portfolio-tmpl__feature-item">4. Oversee and manage employee workload;</li>
                <li class="portfolio-tmpl__feature-item">5. Control medical rooms availability and equipment utilization;</li>
                <li class="portfolio-tmpl__feature-item">6. Enjoy financial transparency and improve work efficiency.</li>
            </ul>
        </div>
        <div class="portfolio-tmpl__tech">
            <h2 class="portfolio-tmpl__tech-title">Technologies:</h2>
            <div class="portfolio-tmpl__tech-list">
                <a href="{{ 'reactjs-dev' | page }}" class="portfolio-tmpl__tech-link stub"># ReactJS</a>
                <a href="{{ 'js-dev' | page }}" class="portfolio-tmpl__tech-link stub"># EcmaScript 2015 (ES6)</a>
                <a href="{{ 'php-dev' | page }}" class="portfolio-tmpl__tech-link stub"># PHP</a>
            </div>
        </div>
    </div>
    <div class="portfolio-tmpl__similar">
        <h2 class="portfolio-tmpl__similar-title">Similar projects</h2>
        <div class="portfolio-tmpl__similar-list">
            <div class="portfolio__item">
                <a href="{{ 'portfolio-cuepath'| page }}" class="portfolio__item-link">
                    <img src="{{ 'assets/img/portfolio-prev/cuepath.png'| theme }}" alt="cuepath preview image" class="portfolio__img-prev"/>
                    <div class="portfolio__item-desc">
                        <p class="portfolio__item-desc-title">CuePath.io</p>
                        <p class="portfolio__item-desc-text">Applications for the Internet of things (IoT)</p>
                    </div>
                </a>
            </div>
            <div class="portfolio__item">
                <a href="{{ 'portfolio-awarepoint'| page }}" class="portfolio__item-link">
                    <img src="{{ 'assets/img/portfolio-prev/awarepoint.png'| theme }}" alt="awarepoint preview image" class="portfolio__img-prev"/>
                    <div class="portfolio__item-desc">
                        <p class="portfolio__item-desc-title">Awarepoint</p>
                        <p class="portfolio__item-desc-text">Responsive website for medical technology company</p>
                    </div>
                </a>
            </div>
            <div class="portfolio__item">
                <a href="{{ 'portfolio-host-for-web'| page }}" class="portfolio__item-link">
                    <img src="{{ 'assets/img/portfolio-prev/hostForWeb.png'| theme }}" alt="HostForWeb preview image" class="portfolio__img-prev"/>
                    <div class="portfolio__item-desc">
                        <p class="portfolio__item-desc-title">HostForWeb corporate website</p>
                        <p class="portfolio__item-desc-text">Corporate website for hosting provider</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<div class="popup-wrap">
    <button type="button" class="popup-wrap__close">
        <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 29 29"><path fill="#fff" d="M3.19 1.06L14.5 12.37 25.81 1.06a1 1 0 0 1 1.42 0l.71.71a1 1 0 0 1 0 1.42L16.62 14.5l11.31 11.31c.4.39.4 1.03 0 1.42l-.7.7a1 1 0 0 1-1.42 0l-11.3-11.3-11.32 11.3a1 1 0 0 1-1.42 0l-.7-.7a.99.99 0 0 1 0-1.42l11.3-11.31L1.07 3.18a1 1 0 0 1 0-1.41l.71-.71a1 1 0 0 1 1.42 0z"/></svg>
    </button>
</div>
{% partial 'components/small-footer/small-footer' %}
