<section id="techs" class="tech">
    <div class="tech__inner">
        <div class="tech__inner-col _left">
            <h2 class="tech__title">Technology <br>stack</h2>
            <div class="tech__feature">
                <h3 class="tech__feature-title">Modern <span class="tech__feature-title-red">Technology</span></h3>
                <div class="tech__feature-text-wrap">
                    <p class="tech__feature-text">Our team is highly experienced in solving a wide array of various tasks, using the best possible tools we could get our hands on. We have well-versed software engineers, apt at many JavaScript frameworks, including the most popular NodeJS, ReactJS, Angular and VueJS. We also specialize in PHP development and Laravel. We use React/Angular/Vue on the front-end and Laravel/NodeJS/ExpressJS on the back-end.</p>
                    <p class="tech__feature-text">We also use such tools as Beanstalk and Redis, and develop our own solutions & plug-ins for OctoberCMS platform to solve common challenges that our clients are facing more quickly and efficiently.</p>
                </div>
                <ul class="tech__feature-list _height-290">
                    <li class="tech__feature-list-item">Angular</li>
                    <li class="tech__feature-list-item">
                        <a href="{{'reactjs-dev'|page}}" class="tech__feature-list-link">React</a>
                    </li>
                    <li class="tech__feature-list-item">VueJS</li>
                    <li class="tech__feature-list-item">
                        <a href="{{'js-dev'|page}}" class="tech__feature-list-link">JS 2018</a>
                    </li>
                    <li class="tech__feature-list-item">
                        <a href="{{'nodejs-dev'|page}}" class="tech__feature-list-link">NodeJS</a>
                    </li>
                    <li class="tech__feature-list-item">ExpressJS</li>
                    <li class="tech__feature-list-item">
                        <a href="{{'php-dev'|page}}" class="tech__feature-list-link">PHP 7+</a>
                    </li>
                    <li class="tech__feature-list-item">
                        <a href="{{'laravel-development'|page}}" class="tech__feature-list-link">Laravel</a>
                    </li>
                    <li class="tech__feature-list-item">Lumen</li>
                    <li class="tech__feature-list-item">
                        <a href="{{ 'october'| page }}" class="tech__feature-list-link">October</a>
                    </li>
                    <li class="tech__feature-list-item">Beanstalk</li>
                    <li class="tech__feature-list-item">Redis</li>
                </ul>
            </div>
        </div>
        <div class="tech__inner-col _right">
            <div class="tech__feature">
                <h3 class="tech__feature-title"><span class="tech__feature-title-red">Full Stack</span> Web Development</h3>
                <div class="tech__feature-text-wrap">
                    <p class="tech__feature-text">LOVATA is one of the Top Web Developers in the world and the Top Web Developer in Eastern Europe. As such, we specialize in custom web and web application development, creating great UI/UX and delivering what the client needs in the process. Our full-stack developers utilize the whole range of front-end and back-end frameworks & libraries (we work with both MEAN, LAMP and their variations), empowering your solutions with modern and reliable database, server and cloud computing technology.</p>
                </div>
                <ul class="tech__feature-list _height-250">
                    <li class="tech__feature-list-item">MySQL</li>
                    <li class="tech__feature-list-item">NoSQL</li>
                    <li class="tech__feature-list-item">MongoDB</li>
                    <li class="tech__feature-list-item">PostgreSQL</li>
                    <li class="tech__feature-list-item">Salesforce</li>
                    <li class="tech__feature-list-item">Apache</li>
                    <li class="tech__feature-list-item">nginx</li>
                    <li class="tech__feature-list-item">Azure</li>
                    <li class="tech__feature-list-item">AWS</li>
                    <li class="tech__feature-list-item">IBM Bluemix</li>
                </ul>
            </div>
            <div class="tech__feature _no-mar-bottom">
                <h3 class="tech__feature-title">What We are Capable Of</h3>
                <div class="tech__feature-text-wrap">
                    <p class="tech__feature-text">Whether you need an eCommerce project or a high-performance web application, GDPR or WCAG compliance, API, CRM or ERP development, we have the right tools, team and spirit to get things done on time and within budget.</p>
                </div>
                <ul class="tech__feature-list _height-250">
                    <li class="tech__feature-list-item">SPA</li>
                    <li class="tech__feature-list-item">PWA</li>
                    <li class="tech__feature-list-item">
                        <a href="{{'custom-api-dev'|page}}" class="tech__feature-list-link">API</a>
                    </li>
                    <li class="tech__feature-list-item">
                        <a href="{{'custom-crm-dev'|page}}" class="tech__feature-list-link">CRM</a>
                    </li>
                    <li class="tech__feature-list-item">ERP</li>
                    <li class="tech__feature-list-item">E-commerce</li>
                    <li class="tech__feature-list-item">
                        <a href="{{'ada-audit'|page}}" class="tech__feature-list-link">ADA/WCAG</a>
                    </li>
                    <li class="tech__feature-list-item">GDPR</li>
                    <li class="tech__feature-list-item">SEO</li>
                    <li class="tech__feature-list-item">
                        <a href="{{'quality-testing'|page}}" class="tech__feature-list-link">QA & Support</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
