<main class="landing-page__container quality-testing" data-logo="burger-white">

    <header class="landing-page__header quality-testing__header">
        <div class="landing-page__inner-block">
            <h1 class="landing-page__main-title">Quality Assurance & Software Testing Services</h1>
            <div class="landing-page__header-info">
                <p class="landing-page__header-info-text">LOVATA Company is known for delivering high-quality, reliable software products to its clients. We do it all: from small companies to large-scale enterprises around the globe. We ensure this high quality of our deliverables by putting forth a robust Quality Management System (QMS) which employs various techniques of quality assurance, manual and automated testing that play an integral role in the broader scope of our development processes.</p>
            </div>
            <div class="landing-page__header-icon">
                <span class="landing-page__header-icon-wrap">
                    <img src="{{ 'assets/img/quality-testing/icon.svg' | theme }}" class="landing-page__header-icon-img" alt="Quality Assurance icon">
                </span>
                <span class="landing-page__icon-border landing-page__icon-border_size-s"></span>
                <span class="landing-page__icon-border landing-page__icon-border_size-m"></span>
                <span class="landing-page__icon-border landing-page__icon-border_size-l"></span>
            </div>
        </div>
    </header>

    <section class="landing-page__section">
        <div class="landing-page__inner-block landing-page__box-shadow landing-page__left-border-block">
            <p class="landing-page__text">LOVATA has built a strong quality assurance department that operates independently and makes sure we deliver web, mobile and desktop solutions that are stable, secure, reliable and flawlessly run in any modern-day environment.</p>
        </div>
    </section>

    <section class="landing-page__section landing-page__no-top-padding">
        <div class="landing-page__inner-block">
            <h2 class="landing-page__title">Our Software Testing Services</h2>
            <p class="landing-page__text">Our quality assurance and software testing services include:</p>
            <ul class="landing-page__list landing-page__plus-list">
                <li class="landing-page__list-item">Comprehensive software testing as part of our development process (when you choose us as your developer);</li>
                <li class="landing-page__list-item">Website, portal and web application testing;</li>
                <li class="landing-page__list-item">Mobile application testing;</li>
                <li class="landing-page__list-item">UI/UX design testing;
                </li>
                <li class="landing-page__list-item">Code Review;</li>
                <li class="landing-page__list-item">Web accessibility testing (WCAG 2.1 compliance);</li>
                <li class="landing-page__list-item">QA automation;</li>
                <li class="landing-page__list-item">QA remediation;</li>
                <li class="landing-page__list-item">QA outsourcing;</li>
            </ul>
        </div>
    </section>

    <section class="landing-page__section landing-page__blue-background">
        <div class="landing-page__inner-block">
            <h2 class="landing-page__title">Our Quality Assurance & Testing Techniques</h2>
            <p class="landing-page__text">We employ our full arsenal of testing methods and techniques to bring you the highest level of quality assurance:</p>
            <ul class="landing-page__list landing-page__dots-list">
                <li class="landing-page__list-item">Unit testing;</li>
                <li class="landing-page__list-item">Functional testing;</li>
                <li class="landing-page__list-item">Regression testing;</li>
                <li class="landing-page__list-item">Localization testing;</li>
                <li class="landing-page__list-item">Smoke & sanity testing;</li>
                <li class="landing-page__list-item">Installation, compatibility & configuration testing;</li>
                <li class="landing-page__list-item">Accessibility testing;</li>
                <li class="landing-page__list-item">Stress & volume testing;</li>
                <li class="landing-page__list-item">Performance testing;</li>
                <li class="landing-page__list-item">Usability testing;</li>
                <li class="landing-page__list-item">Security testing;</li>
                <li class="landing-page__list-item">Portability testing;</li>
            </ul>
        </div>
    </section>

    <section class="landing-page__section landing-page__blue-decoration">
        <div class="landing-page__inner-block">
            <h2 class="landing-page__title">Rigorous Security Testing</h2>
            <p class="landing-page__text">Your security is of foremost importance to us.We impose maximum security measures in compliance with OWASP security standards, identifying and eliminating common security risks. We use OWASP general automated testing tools, including</p>
            <ul class="landing-page__list landing-page__plus-list landing-page__plus-list_blue">
                <li class="landing-page__list-item">OWASP ZAP;</li>
                <li class="landing-page__list-item">OWASP WebScarab;</li>
                <li class="landing-page__list-item">OWASP CAL9000;</li>
                <li class="landing-page__list-item">OWASP Pantera Web Assessment Studio Project;</li>
                <li class="landing-page__list-item">OWASP Mantra.</li>
            </ul>
        </div>
    </section>

    <section class="landing-page__section">
        <div class="landing-page__inner-block">
            <h2 class="landing-page__title">Our QA & Software Testing Team</h2>
            <p class="landing-page__text">Our team of quality assurance engineers and specialists in software testing possess a unique set of qualities, professional expertise and communication skills that allow them to work as a fine-tuned mechanism, aiding our development process with superior quality control. Our QA specialists are well-versed experts with a profound knowledge base and vast experience behind their shoulders.</p>
            <p class="landing-page__sub-heading">Our QA team skill set:</p>
            <ul class="landing-page__list landing-page__dots-list">
                <li class="landing-page__list-item">Writing clear, concise and comprehensive documentation: test plans and test cases;</li>
                <li class="landing-page__list-item">Extensive knowledge of QA techniques and methodologies;</li>
                <li class="landing-page__list-item">Strong skills in both white-box and black-box testing</li>
                <li class="landing-page__list-item">Specialized skills in performance and security testing;</li>
                <li class="landing-page__list-item">Experience working with various automated testing tools;</li>
                <li class="landing-page__list-item">Bug-tracking experience with Jira and other test management systems;</li>
                <li class="landing-page__list-item">Solid knowledge of SQL and scripting languages;</li>
                <li class="landing-page__list-item">Basic understanding of modern design and development;</li>
                <li class="landing-page__list-item">Impeccable communication skills;</li>
                <li class="landing-page__list-item">Rational analysis and logical thinking;</li>
                <li class="landing-page__list-item">Creativity and the ability to think out-of-the-box.</li>
            </ul>

        </div>
    </section>

    <section class="landing-page__section landing-page__tools">
        <div class="landing-page__inner-block">
            <h2 class="landing-page__title">Tools Of The Trade</h2>

            <p class="landing-page__text">Our QA specialists employ automated testing where it is possible to boost the quality control process and the overall process of development. We try to use the best testing software out there to pinpoint bugs where they are most expected.</p>

            <div class="landing-page__stack-table">
                <p class="landing-page__list-heading">Our arsenal of QA automated tools includes:</p>
                <ul class="landing-page__list">
                    <li class="landing-page__list-item">Selenium WebDriver;</li>
                    <li class="landing-page__list-item">Codeception;</li>
                    <li class="landing-page__list-item">CodeceptJS;</li>
                    <li class="landing-page__list-item">Nightwatch;</li>
                    <li class="landing-page__list-item">Protractor;</li>
                    <li class="landing-page__list-item">TestComplete.</li>
                </ul>

                <p class="landing-page__list-heading">Bug tracking systems:</p>
                <ul class="landing-page__list">
                    <li class="landing-page__list-item">Jira;</li>
                    <li class="landing-page__list-item">Pivotal;</li>
                    <li class="landing-page__list-item">Tracker;</li>
                    <li class="landing-page__list-item">Trello.</li>
                </ul>

                <p class="landing-page__list-heading">Test Management systems:</p>
                <ul class="landing-page__list">
                    <li class="landing-page__list-item">TestLink;</li>
                    <li class="landing-page__list-item">TestRail;</li>
                    <li class="landing-page__list-item">Quality Center;</li>
                    <li class="landing-page__list-item">TFS.</li>
                </ul>

                <p class="landing-page__list-heading">We test your solutions against the following environments:</p>
                <ul class="landing-page__list">
                    <li class="landing-page__list-item"><span class="landing-page__bold">OS:</span> Windows 7-10; MacOS 10.9 and higher; iOS 9 and higher.</li>
                    <li class="landing-page__list-item"><span class="landing-page__bold">Browsers:</span> Chrome, Firefox, Opera, Safari, IE, Edge.</li>
                    <li class="landing-page__list-item"><span class="landing-page__bold">Assistive technologies:</span> Magnifier, ZoomText, JAWS, NVDA, VoiceOver, TalkBack, Dragon Naturally Speaking.</li>
                </ul>

            </div>
        </div>
    </section>

    <section class="landing-page__section">
        <div class="landing-page__inner-block">
            <h2 class="landing-page__title">Quality Assurance & Testing Process</h2>
            <p class="landing-page__text">Our quality assurance process is tightly interwoven with design and development. That is if we are your trusted product developer. QA engineers are involved at every stage, making sure each step we take is up to par and adheres to the highest quality control standards. We follow agile development methodologies with sprints, daily stand-ups, and meetings at the end of each sprint.</p>
            <p class="landing-page__text">Our QA specialists take part in every meeting and have a strong impact on decision-making and the overall process of development. Quality assurance is our top priority.</p>
            <p class="landing-page__text">Usually, our QA process involves the following stages:</p>
            <ul class="landing-page__list landing-page__dots-list">
                <li class="landing-page__list-item">Requirements review and testing;</li>
                <li class="landing-page__list-item">Planning and writing documentation: test plans and cases;</li>
                <li class="landing-page__list-item">Unit testing;</li>
                <li class="landing-page__list-item">Functional testing;</li>
                <li class="landing-page__list-item">Integration testing;</li>
                <li class="landing-page__list-item">Performance testing;</li>
                <li class="landing-page__list-item">Security testing;</li>
                <li class="landing-page__list-item">Compatibility and configuration testing;</li>
                <li class="landing-page__list-item">Updating and rewriting test cases;</li>
                <li class="landing-page__list-item">Regression testing;</li>
                <li class="landing-page__list-item">Reporting & measuring bugs;</li>
                <li class="landing-page__list-item">Verifying bug fixes.</li>
            </ul>

        </div>
    </section>

    <section class="landing-page__section landing-page__no-padding">
        <div class="landing-page__inner-block landing-page__banner">
            <div class="landing-page__banner-inner-block">
                <h2 class="landing-page__title">QA Remediation & Outsourcing Services</h2>
                <p class="landing-page__text">If you are looking to outsource our QA services we can fully equip your development team with skilled QA engineers and provide you with full-cycle quality assurance and testing services. We can also perform testing on existing solutions or mid-cycle projects and help you get back on track in your development.
                </p>
            </div>
        </div>
    </section>

    <footer class="landing-page__order">
        <div class="landing-page__inner-block">
            <p class="landing-page__text">Have a project in mind? Contact us, we can help!</p>
            <a href="{{ 'request-form'| page }}" class="landing-page__order-btn" data-btn-request>
                <span class="landing-page__order-btn-text">Contact Us Now</span>
            </a>
        </div>
    </footer>

</main>

{% partial 'components/small-footer/small-footer' %}
