<main class="landing-page__container front-end" data-logo="burger-white">

    <header class="landing-page__header front-end__header">
        <div class="landing-page__inner-block">
            <h1 class="landing-page__main-title">Front-End <br>Development Company</h1>
            <div class="landing-page__header-info">
                <p class="landing-page__header-info-text">Looking for a front-end development company that would bring your projects to life using the best UI/UX design techniques & development tools on the market and make them shine? Look no further. LOVATA Company is a high-tier front-end development services provider. We offer you the best tools, the best team with a skill-set exceeding your expectations, and the attitude to get things done on budget and within your time constraints. Coming to us you can be sure your product will be developed to the highest standard and all of your requirements will be met.</p>
            </div>
            <div class="landing-page__header-icon">
                <span class="landing-page__header-icon-wrap">
                    <img src="{{ 'assets/img/front-end-dev/icon.svg' | theme }}" class="landing-page__header-icon-img" alt="Front-End Development icon">
                </span>
                <span class="landing-page__icon-border landing-page__icon-border_size-s"></span>
                <span class="landing-page__icon-border landing-page__icon-border_size-m"></span>
                <span class="landing-page__icon-border landing-page__icon-border_size-l"></span>
            </div>
        </div>
    </header>

    <section class="landing-page__section">
        <div class="landing-page__inner-block">
            <h2 class="landing-page__title">Our Skill-Set & Expertise</h2>

            <ul class="landing-page__list landing-page__dots-list">
                <li class="landing-page__list-item">JavaScript ES 2018+</li>
                <li class="landing-page__list-item">ReactJS</li>
                <li class="landing-page__list-item">Angular</li>
                <li class="landing-page__list-item">jQuery</li>
                <li class="landing-page__list-item">HTML5</li>
                <li class="landing-page__list-item">CSS3</li>
                <li class="landing-page__list-item">UI/UX design & development;</li>
                <li class="landing-page__list-item">Native Android, iOS, cross-platform apps;</li>
                <li class="landing-page__list-item">Web Hybrid, SPA, PWA apps;</li>
                <li class="landing-page__list-item">Custom software & web development;</li>
                <li class="landing-page__list-item">And much more…</li>

            </ul>
        </div>
    </section>

    <section class="landing-page__section landing-page__no-top-padding">
        <div class="landing-page__inner-block landing-page__left-border-block landing-page__box-shadow">
            <h2 class="landing-page__title">Our Front-End Developer Team</h2>
            <p class="landing-page__text">Our highly-qualified coding experts are gurus at front-end development. Their experience and skill set goes far beyond traditional technologies. We prefer to use ReactJS and AngularJS in our projects as they are backed by two of the most influential tech giants - Facebook & Google, and they also provide us with great tools to create stunning visual effects and interfaces, utilizing the latest JavaScript ES 2018+ version.</p>
            <p class="landing-page__text">Our designers have a great eye for creating enticing interfaces, while the front-end developers have a strong belief in following coding standards and creating clean, logical, easily maintainable and reusable code. So you can be sure that your front-end is polished from top to bottom when our work is done.</p>
        </div>
    </section>

    <section class="landing-page__section landing-page__blue-background">
        <div class="landing-page__inner-block">
            <h2 class="landing-page__title">Our Front-End Development Services</h2>

            <ul class="landing-page__list landing-page__vertical-icon-list">
                <li class="landing-page__list-item"><img src="{{'assets/img/front-end-dev/design.svg'|theme}}" class="landing-page__list-item-img" alt="design icon">Architecture design & development</li>
                <li class="landing-page__list-item"><img src="{{'assets/img/front-end-dev/perf.svg'|theme}}" class="landing-page__list-item-img" alt="optimization icon">Performance optimization</li>
                <li class="landing-page__list-item"><img src="{{'assets/img/front-end-dev/responsive.svg'|theme}}" class="landing-page__list-item-img" alt="Responsive design icon">Responsive design</li>
                <li class="landing-page__list-item"><img src="{{'assets/img/front-end-dev/ui.svg'|theme}}" class="landing-page__list-item-img" alt="UI & UX design icon">UI/UX design & development</li>
                <li class="landing-page__list-item"><img src="{{'assets/img/front-end-dev/web-design.svg'|theme}}" class="landing-page__list-item-img" alt="Custom front-end design icon">Custom front-end design & development</li>
            </ul>
        </div>
    </section>

    <section class="landing-page__section">
        <div class="landing-page__inner-block">
            <h2 class="landing-page__title">Swift & Transparent Development Process</h2>
            <p class="landing-page__text">We deliver our front-end development services at a fast pace, employing agile techniques and methodology. The process is iterative, and we practice continuous delivery & integration. The client is involved in the decision-making and problem-solving, as well as quality assurance and testing. </p>
            <p class="landing-page__text">We organize meetings, discuss any issues that arise during the development process. The project manager also makes regular calls and reports on the state of the project so you are always aware of where we are in the process of development. Transparency and clarity is our motto. So the result of our work is exactly what you have expected - nothing more, nothing less.</p>
        </div>
    </section>


    <section class="landing-page__section landing-page__no-padding">
        <div class="landing-page__inner-block landing-page__banner">
            <div class="landing-page__banner-inner-block">
                <h2 class="landing-page__title">High-Quality Front-End Development</h2>
                <p class="landing-page__text">Our high-tier front-end developers and quality assurance specialists procure high-quality responsive and interactive front-end designs that light up your web solutions and applications, provide wonderful visual experience that brings new audiences to the services you provide.</p>
            </div>
        </div>
    </section>

    <footer class="landing-page__order">
        <div class="landing-page__inner-block">
            <p class="landing-page__text">Still haven’t decided? Send us a request or <a href="/#contacts">contact us directly</a> to find out more about how we can help you make your front-end stand out among the competition.</p>
            <a href="{{ 'request-form'| page }}" class="landing-page__order-btn" data-btn-request>
                <span class="landing-page__order-btn-text">Send Us A Request</span>
            </a>
        </div>
    </footer>
</main>

{% partial 'components/small-footer/small-footer' %}
