<section class="portfolio-tmpl">
    <div class="portfolio-tmpl__container">
        <div class="portfolio-tmpl__header">
            <div class="portfolio-tmpl__header-top">
                <h1 class="portfolio-tmpl__title">Responsive Web Platform for Stanford University</h1>
                <div class="portfolio-tmpl__customer">Customer:<span class="portfolio-tmpl__customer-name"> The Pritchard Lab at Stanford</span></div>
            </div>
            <div class="portfolio-tmpl__client-info">
                <a href="http://scireader.org/" target="_blank" class="portfolio-tmpl__link" rel="nofollow">SciReader</a>
                <a href="http://med.stanford.edu/gbsc/scireader.html" target="_blank" class="portfolio-tmpl__link" rel="nofollow">Med.stanford.edu</a>
            </div>
            <p class="portfolio-tmpl__desc">Fully responsive project with client-side adaptation for desktop, tablet and mobile.</p>
            <p class="portfolio-tmpl__desc">The aim of the project is to provide users with easy online access to scientific publications in the field of biomedicine and a possibility to receive individual recommendations based on user’s interests (preferred topics, authors, keywords, etc.) New user-friendly interface is created for discussion of publications and search sections.</p>
        </div>
        <div class="portfolio-tmpl__content">
            <img src="{{ 'assets/img/portfolio_site/scireader/sws.png'| theme }}" alt="" class="portfolio-tmpl__img">
            <img src="{{ 'assets/img/portfolio_site/scireader/sws2.png'| theme }}" alt="" class="portfolio-tmpl__img">
            <img src="{{ 'assets/img/portfolio_site/scireader/sws3.png'| theme }}" alt="" class="portfolio-tmpl__img">
        </div>
        <div class="portfolio-tmpl__tech">
            <h2 class="portfolio-tmpl__tech-title">Technologies:</h2>
            <div class="portfolio-tmpl__tech-list">
                <a href="#" class="portfolio-tmpl__tech-link stub"># AngularJS</a>
                <a href="#" class="portfolio-tmpl__tech-link stub"># D3.js</a>
            </div>
        </div>
    </div>
    <div class="portfolio-tmpl__similar">
        <h2 class="portfolio-tmpl__similar-title">Similar projects</h2>
        <div class="portfolio-tmpl__similar-list">
            <div class="portfolio__item">
                <a href="{{ 'portfolio-we-bridge'| page }}" class="portfolio__item-link">
                    <img src="{{ 'assets/img/portfolio-prev/weBridge.png'| theme }}" alt="Responsive Website for a UK language academy" class="portfolio__img-prev"/>
                    <div class="portfolio__item-desc">
                        <p class="portfolio__item-desc-title">we-bridge.co.uk</p>
                        <p class="portfolio__item-desc-text">Responsive Website for a UK language academy</p>
                    </div>
                </a>
            </div>
            <div class="portfolio__item">
                <a href="{{ 'portfolio-gozebra'| page }}" class="portfolio__item-link">
                    <img src="{{ 'assets/img/portfolio-prev/gozebra.png'| theme }}" alt="Car Insurance Aggregator: Web App, Mobile Apps and CRM preview" class="portfolio__img-prev"/>
                    <div class="portfolio__item-desc">
                        <p class="portfolio__item-desc-title">Gozebra.kz</p>
                        <p class="portfolio__item-desc-text">Car Insurance Aggregator: Web App, Mobile Apps and CRM</p>
                    </div>
                </a>
            </div>
            <div class="portfolio__item">
                <a href="{{ 'portfolio-cuepath'| page }}" class="portfolio__item-link">
                    <img src="{{ 'assets/img/portfolio-prev/cuepath.png'| theme }}" alt="Applications for the Internet of things (IoT)" class="portfolio__img-prev"/>
                    <div class="portfolio__item-desc">
                        <p class="portfolio__item-desc-title">CuePath.io</p>
                        <p class="portfolio__item-desc-text">Applications for the Internet of things (IoT)</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
{% partial 'components/small-footer/small-footer' %}
