<main class="landing-page__container mobile-app" data-logo="burger-white">

    <header class="landing-page__header mobile-app__header">
        <div class="landing-page__inner-block">
            <h1 class="landing-page__main-title">Mobile App <br>Development Company</h1>
            <div class="landing-page__header-info">
                <p class="landing-page__header-info-text">At LOVATA we specialize in high class iOS, Android, cross-platform HTML5, hybrid app and PWA development. With 9+ years of experience behind our back we have evolved into a team of seasoned professionals in both design and development of mobile UI and UX. Working on projects across multiple domains and platforms we have nurtured a full-stack development team able to accomplish any task in the modern mobile app environment, immune to the hurdles most developers face on the way to building a viable solution.</p>
            </div>
            <div class="landing-page__header-icon">
                <span class="landing-page__header-icon-wrap">
                    <img src="{{ 'assets/img/mobile-app-dev/icon.svg' | theme }}" class="landing-page__header-icon-img" alt="Mobile app icon">
                </span>
                <span class="landing-page__icon-border landing-page__icon-border_size-s"></span>
                <span class="landing-page__icon-border landing-page__icon-border_size-m"></span>
                <span class="landing-page__icon-border landing-page__icon-border_size-l"></span>
            </div>
        </div>
    </header>

    <!-- ICONS -->

    <section class="landing-page__section">
        <div class="landing-page__inner-block">
            <h2 class="landing-page__title">Native iOS & Android Development</h2>
            <p class="landing-page__text">Our iOS and Android apps offer pure native quality:</p>
            <ul class="landing-page__list landing-page__dots-list">
                <li class="landing-page__list-item">Great graphics, beautiful UI and the best UX;</li>
                <li class="landing-page__list-item">Responsive & Fast;</li>
                <li class="landing-page__list-item">Make the most out of mobile device capabilities;</li>
                <li class="landing-page__list-item">Available for download from the App Store.</li>
            </ul>
        </div>
    </section>

    <section class="landing-page__section landing-page__blue-background">
        <div class="landing-page__inner-block">
            <h2 class="landing-page__title">Cross-platform HTML5 Development</h2>
            <p class="landing-page__text">Our HTML5 mobile web app development services provide:</p>
            <ul class="landing-page__list landing-page__dots-list">
                <li class="landing-page__list-item">Rapid development and quick launch to market;</li>
                <li class="landing-page__list-item">Cost effective while providing high quality;</li>
                <li class="landing-page__list-item">Capture multiple platforms;</li>
                <li class="landing-page__list-item">Apps are easily maintained and updated;</li>
            </ul>
        </div>
    </section>

    <section class="landing-page__section">
        <div class="landing-page__inner-block">
            <h2 class="landing-page__title">Hybrid App Development</h2>
            <p class="landing-page__text">Our hybrid apps combine the best of HTML5 and native app development:</p>
            <ul class="landing-page__list landing-page__dots-list">
                <li class="landing-page__list-item">Available for download from the App Store;</li>
                <li class="landing-page__list-item">Have access to most of the devices capabilities;</li>
                <li class="landing-page__list-item">Capture multiple platforms;</li>
                <li class="landing-page__list-item">Rapid development and quick market launch;</li>
                <li class="landing-page__list-item">Cost effective and high quality;</li>
                <li class="landing-page__list-item">Provide optimal performance.</li>
            </ul>
        </div>
    </section>

    <section class="landing-page__section landing-page__blue-background">
        <div class="landing-page__inner-block">
            <h2 class="landing-page__title">PWA Development</h2>
            <p class="landing-page__text">We build progressive web applications that follow the best standards:</p>
            <ul class="landing-page__list landing-page__dots-list">
                <li class="landing-page__list-item">Service worker technology allows apps to work offline and send push-notifications;</li>
                <li class="landing-page__list-item">PWA technology established high performance;</li>
                <li class="landing-page__list-item">Progressive applications occupy less memory by using browser’s capabilities;</li>
                <li class="landing-page__list-item">Native App-like interface gives the actual feel of a native app;</li>
                <li class="landing-page__list-item">PWA tech allows to add the app to the home screen of the device;</li>
                <li class="landing-page__list-item">Multiple APIs allow the app to access most of the device’s assets;</li>
                <li class="landing-page__list-item">Our PWAs score high against Google’s  Lighthouse audit software.</li>

            </ul>
        </div>
    </section>

    <section class="landing-page__section">
        <div class="landing-page__inner-block">
            <h2 class="landing-page__title">Custom Cross-Platform Application Development</h2>
            <p class="landing-page__text">At LOVATA we encourage our clients towards a unified solution that will benefit their business in the best possible ways. We understand the current state of business and are fully aware of what’s driving the market and the trends that will continue to influence the world of mobile in the near future. Most companies and organizations now require omnichannel solutions that engage consumers through multiple platforms and devices. If you’re looking for ways to drive your business forward, a cross-platform solution is the optimal choice.</p>
            <p class="landing-page__text">Our cross-platform development services include HTML5 mobile web apps, hybrid apps, and PWAs. Choosing which technology to use depends on the project and the client’s requirements. We custom tailor applications to the client’s needs and, if it benefits the client, in some cases we may also provide native application development.</p>
        </div>
    </section>


    <section class="landing-page__section landing-page__no-padding">
        <div class="landing-page__inner-block landing-page__box-shadow landing-page__left-border-block">
            <h2 class="landing-page__title">Advantages of Cross-Platform Apps</h2>
            <p class="landing-page__text">Developing cross-platform solutions provides wide consumer reach and effective marketing. This is especially important, for instance, when you are creating a complex eCommerce solution or a full-fledged marketplace. Cross-platform applications are the easiest path to building omnichannel solutions where apps share a single codebase and therefore require much less effort from the developing team.</p>
            <p class="landing-page__text">They also allow companies to lower expenses as you don’t have to involve native developers to build separate versions of the app for each platform. This is also the case with time-to-market: cross-platform apps can be delivered in a rather short period of time compared to native app development.</p>
            <p class="landing-page__text">Hybrid apps and PWAs in some cases also offer higher performance than native apps.</p>
            <p class="landing-page__text">LOVATA Company’s design & development practices deliver cross-platform applications with elegant UI/UX design and a powerful back-end.</p>
        </div>
    </section>

    <footer class="landing-page__order">
        <div class="landing-page__inner-block">
            <p class="landing-page__text">Contact us now for the best mobile app development experience.
            </p>
            <a href="{{ 'request-form'| page }}" class="landing-page__order-btn" data-btn-request>
                <span class="landing-page__order-btn-text">Contact Us Today</span>
            </a>
        </div>
    </footer>

</main>

{% partial 'components/small-footer/small-footer' %}
