{#
    obCategory
    obArticleList
#}

<section class="blog" data-logo="black">
    <div class="blog--inner">
        <h1 class="blog--title">Blog</h1>
        <div class="blog--tags">
            <ul class="blog--tags-list">
                <li class="blog--tags-item _mobile-view">Time Estimation</li>
                <li class="blog--tags-item _mobile-view">Project</li>
                <li class="blog--tags-item _mobile-view">Sharing Economy</li>
                <li class="blog--tags-item _mobile-view">Accessibility Guidelines</li>
                <li class="blog--tags-item _mobile-view">ADA-Compliance</li>
                <li class="blog--tags-item">October CMS</li>
                <li class="blog--tags-item">Software Extensions</li>
                <li class="blog--tags-item">Consumption</li>
                <li class="blog--tags-item">2doc</li>
                <li class="blog--tags-item">ADA-Compliance</li>
                <li class="blog--tags-item">Project</li>
                <li class="blog--tags-item">Software Extensions</li>
                <li class="blog--tags-btn"><button class="blog--btn-more js-btnToggleTagsView">...</button></li>
            </ul>
        </div>
        <div class="blog--news">
            <div class="top-entry">
                <time class="top-entry--date">December 21, 2017</time>
                <ul class="top-entry--tags">
                    <li class="top-entry--tags-item">Time Estimation</li>
                    <li class="top-entry--tags-item">Project</li>
                </ul>
                <h2 class="top-entry--title">
                    <a class="top-entry--title-link">
                        Shopaholic: One of its Kind OctoberCMS  eCommerce Plugin & Ecosystem
                    </a>
                </h2>
                <p class="top-entry--text">OctoberCMS has steadily become one of the most popular Laravel-based CMS and the CMS of choice for many developers. With a large library of plugins and extensions, it is clearly the go-to PHP framework when it comes to creating solutions using third-party components and not starting from scratch. </p>
                <img  class="top-entry--photo" src="themes\lovata\assets\img\blog\shopaholic.png">
            </div>
            <div class="right-column">
                <ul>
                    <li class="right-column--news">
                        <time class="right-column--news-date">December 11, 2017</time>
                        <ul class="right-column--news-tags">
                            <li class="right-column--news-tags-item">Time Estimation</li>
                            <li class="right-column--news-tags-item">Project</li>
                        </ul>
                        <h2 class="right-column--news-title">
                            <a class="right-column--news-title-link">
                                ADA Website Compliance Check.  Accessibility Guidelines
                            </a>
                        </h2>
                    </li>
                    <li class="right-column--news">
                        <time class="right-column--news-date">October 4, 2017</time>
                        <time class="right-column--news-date-update"><span class="update_icon">UPD</span>November 4, 2017</time>
                        <ul class="right-column--news-tags">
                            <li class="right-column--news-tags-item">Time Estimation</li>
                            <li class="right-column--news-tags-item">Project</li>
                        </ul>
                        <h2 class="right-column--news-title">
                            <a class="right-column--news-title-link">
                                LOVATA Distinguished as Top Software and Web Developer
                            </a>
                        </h2>
                    </li>
                    <li class="right-column--news">
                        <time class="right-column--news-date">November 13, 2017</time>
                        <ul class="right-column--news-tags">
                            <li class="right-column--news-tags-item">Sharing Economy</li>
                        </ul>
                        <h2 class="right-column--news-title">
                            <a class="right-column--news-title-link">
                                How to Find a Doctor Near You: 2doc Sharing Economy Portal
                            </a>
                        </h2>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="news">
    <div class="news--inner">
        <div class="news--item">
            <div class="news--item_post ">
                <div class="news--item_info">
                    <time class="news--item_post-date">December 7, 2017</time>
                    <ul class="news--item_post-tags">
                        <li class="news--item_post-tags-item">Time Estimation</li>
                        <li class="news--item_post-tags-item">Project</li>
                    </ul>
                    <h2 class="news--item_post-title">
                        <a class="news--item_post-title-link">
                            Guide to Time Estimation: Project Estimation Techniques, Tips & Tricks
                        </a>
                    </h2>
                </div>
                <img  class="news--item_post-photo" src="..\..\..\storage\app\media\uploaded-files\sharing-economy-1.png">
            </div>
            <div class="news--item_post">
                <div class="news--item_info">
                    <time class="news--item_post-date">December 7, 2017</time>
                    <ul class="news--item_post-tags">
                        <li class="news--item_post-tags-item">Time Estimation</li>
                        <li class="news--item_post-tags-item">Project</li>
                    </ul>
                    <h2 class="news--item_post-title">
                        <a class="news--item_post-title-link">
                            ADA Website Compliance Checklist. Accessibility Guidelines
                        </a>
                    </h2>
                </div>
                <img  class="news--item_post-photo" src="..\..\..\storage\app\media\uploaded-files\lovata_CompetenceADA.png">
            </div>
            <div class="news--item_post">
                <div class="news--item_info">
                    <time class="news--item_post-date">December 7, 2017</time>
                    <ul class="news--item_post-tags">
                        <li class="news--item_post-tags-item">Time Estimation</li>
                        <li class="news--item_post-tags-item">Project</li>
                    </ul>
                    <h2 class="news--item_post-title">
                        <a class="news--item_post-title-link">
                            Why Business Analysts Are So Important for Successful Software Product Launch?
                        </a>
                    </h2>
                </div>
                <img  class="news--item_post-photo" src="..\..\..\storage\app\media\uploaded-files\October-CMS.jpg">
            </div>
            <div class="news--item_post">
                <div class="news--item_info">
                    <time class="news--item_post-date">December 7, 2017</time>
                    <ul class="news--item_post-tags">
                        <li class="news--item_post-tags-item">Time Estimation</li>
                        <li class="news--item_post-tags-item">Project</li>
                    </ul>
                    <h2 class="news--item_post-title">
                        <a class="news--item_post-title-link">
                            Sharing Economy and Collaborative Consumption: Definition, Statistics, Examples and 2017 Trends
                        </a>
                    </h2>
                </div>
                <img  class="news--item_post-photo" src="..\..\..\storage\app\media\uploaded-files\blog-business-analysts.jpg">
            </div>
            <div class="news--item_post">
                <div class="news--item_info">
                    <time class="news--item_post-date">December 7, 2017</time>
                    <ul class="news--item_post-tags">
                        <li class="news--item_post-tags-item">Time Estimation</li>
                        <li class="news--item_post-tags-item">Project</li>
                    </ul>
                    <h2 class="news--item_post-title">
                        <a class="news--item_post-title-link">
                            October CMS Review or Why October is the Best Content Management System
                        </a>
                    </h2>
                </div>
            </div>
            <div class="news--item_post">
                <div class="news--item_info">
                    <time class="news--item_post-date">December 7, 2017</time>
                    <ul class="news--item_post-tags">
                        <li class="news--item_post-tags-item">Time Estimation</li>
                        <li class="news--item_post-tags-item">Project</li>
                    </ul>
                    <h2 class="news--item_post-title">
                        5 Reasons Why You Should Choose ADA Compliant Website Design and Development
                    </h2>
                </div>
                <img  class="news--item_post-photo" src="..\..\..\storage\app\media\uploaded-files\ada-website-compliance-checklist.jpg">
            </div>
            <div class="news--item_post">
                <div class="news--item_info">
                    <time class="news--item_post-date">December 7, 2017</time>
                    <ul class="news--item_post-tags">
                        <li class="news--item_post-tags-item">Time Estimation</li>
                        <li class="news--item_post-tags-item">Project</li>
                    </ul>
                    <h2 class="news--item_post-title">
                        <a class="news--item_post-title-link">
                            LOVATA Distinguished as Top Software and Web Developer
                        </a>
                    </h2>
                </div>
                <img  class="news--item_post-photo" src="..\..\..\storage\app\media\uploaded-files\global-leaders-2017-top-web-software-development.png">
            </div>
            <div class="news--item_post">
                <div class="news--item_info">
                    <time class="news--item_post-date">December 7, 2017</time>
                    <ul class="news--item_post-tags">
                        <li class="news--item_post-tags-item">Time Estimation</li>
                        <li class="news--item_post-tags-item">Project</li>
                    </ul>
                    <h2 class="news--item_post-title">
                        <a class="news--item_post-title-link">
                            October CMS Review or Why October is the Best Content Management System
                        </a>
                    </h2>
                </div>
                <img  class="news--item_post-photo" src="..\..\..\storage\app\media\uploaded-files\2doc-blog-1.png">
            </div>
            <div class="news--item_post">
                <div class="news--item_info">
                    <time class="news--item_post-date">December 7, 2017</time>
                    <ul class="news--item_post-tags">
                        <li class="news--item_post-tags-item">Time Estimation</li>
                        <li class="news--item_post-tags-item">Project</li>
                    </ul>
                    <h2 class="news--item_post-title">
                        <a class="news--item_post-title-link">
                            October CMS Review or Why October is the Best Content Management System
                        </a>
                    </h2>
                </div>
                <img  class="news--item_post-photo" src="">
            </div>
            <div class="news--item_post">
                <div class="news--item_info">
                    <time class="news--item_post-date">December 7, 2017</time>
                    <ul class="news--item_post-tags">
                        <li class="news--item_post-tags-item">Time Estimation</li>
                        <li class="news--item_post-tags-item">Project</li>
                    </ul>
                    <h2 class="news--item_post-title">
                        <a class="news--item_post-title-link">
                            5 Reasons Why You Should Choose ADA Compliant Website Design and Development
                        </a>
                    </h2>
                </div>
                <img  class="news--item_post-photo" src="">
            </div>
            <div class="news--item_post">
                <div class="news--item_info">
                    <time class="news--item_post-date">December 7, 2017</time>
                    <ul class="news--item_post-tags">
                        <li class="news--item_post-tags-item">Time Estimation</li>
                        <li class="news--item_post-tags-item">Project</li>
                    </ul>
                    <h2 class="news--item_post-title">
                        <a class="news--item_post-title-link">
                            Guide to Time Estimation: Project Estimation Techniques, Tips & Tricks
                        </a>
                    </h2>
                </div>
                <img  class="news--item_post-photo" src="..\..\..\storage\app\media\uploaded-files\time-estimation-preview.jpg">
            </div>
            <div class="news--item_post">
                <div class="news--item_info">
                    <time class="news--item_post-date">December 7, 2017</time>
                    <ul class="news--item_post-tags">
                        <li class="news--item_post-tags-item">Time Estimation</li>
                        <li class="news--item_post-tags-item">Project</li>
                    </ul>
                    <h2 class="news--item_post-title">
                        <a class="news--item_post-title-link">
                            ADA Website Compliance Checklist. Accessibility Guidelines
                        </a>
                    </h2>
                </div>
                <img  class="news--item_post-photo" src="">
            </div>
            <div class="news--item_post">
                <div class="news--item_info">
                    <time class="news--item_post-date">December 7, 2017</time>
                    <ul class="news--item_post-tags">
                        <li class="news--item_post-tags-item">Time Estimation</li>
                        <li class="news--item_post-tags-item">Project</li>
                    </ul>
                    <h2 class="news--item_post-title">
                        <a class="news--item_post-title-link">
                            LOVATA Distinguished as Top Software and Web Developer
                        </a>
                    </h2>
                </div>
                <img  class="news--item_post-photo" src="">
            </div>
            <div class="news--item_post">
                <div class="news--item_info">
                    <time class="news--item_post-date">December 7, 2017</time>
                    <ul class="news--item_post-tags">
                        <li class="news--item_post-tags-item">Time Estimation</li>
                        <li class="news--item_post-tags-item">Project</li>
                    </ul>
                    <h2 class="news--item_post-title">
                        <a class="news--item_post-title-link">
                            How to Find a Doctor Near You: 2doc Sharing Economy Portal Management System
                        </a>
                    </h2>
                </div>
                <img  class="news--item_post-photo" src="">
            </div>
        </div>
        <div class="subscribe-block">
            <span>
                <h2 class="subscribe-block--title">Please subscribe</h2>
                <p class="subscribe-block--text">to receive updates about our upcoming blog articles</p>
            </span>
            <form>
                <input class="subscribe-block--input" type="text" placeholder="Email"><button class="subscribe-block--button">OK</button>
            </form>
        </div>
    </div>
</section>

{% partial 'components/small-footer/small-footer' %}
