server {
    listen               80;
    listen               443 ssl;
    server_name          www.lovata.com;
    ssl_certificate /etc/nginx/ssl/lovata.com/server.crt;
    ssl_certificate_key /etc/nginx/ssl/lovata.com/private.key;

    return 301 $scheme://lovata.com$request_uri;
}

server {
    listen               80;
    # listen               443 ssl;
    server_name          www.lovata.pl;
    # ssl_certificate /etc/nginx/ssl/lovata.com/server.crt;
    # ssl_certificate_key /etc/nginx/ssl/lovata.com/private.key;

    return 301 $scheme://lovata.com$request_uri;
}

server {
    listen               80;
    # listen               443 ssl;
    server_name          lovata.pl;
    # ssl_certificate /etc/nginx/ssl/lovata.com/server.crt;
    # ssl_certificate_key /etc/nginx/ssl/lovata.com/private.key;

    return 301 $scheme://lovata.com$request_uri;
}

server {
    listen 80;

    # For https
    listen 443 ssl;
    listen [::]:443 ssl default_server ipv6only=on;
    ssl_certificate /etc/nginx/ssl/lovata.com/server.crt;
    ssl_certificate_key /etc/nginx/ssl/lovata.com/private.key;

    server_name lovata.com;

    # Redirect /foobar/ and /foobar/index.html to /foobar
    rewrite ^(.+)/+$ $1 permanent;

    rewrite ^(.*/)index\.(php|html?)$ $1 permanent;
    if ($request_uri ~* "^(.*)/index\.php(.*)") {
       return 301 $1$2;
    }

    # Redirect to https
    if ($scheme = http) {
        return 301 https://$server_name$request_uri;
    }

    root /var/www/html/lovata.com_old/app;
    index index.php index.html index.htm;

    location / {
         rewrite ^/.*$ /index.php last;
    }

    error_log  /var/log/nginx/error.log;
    access_log /var/log/nginx/access.log;

    location = /favicon.ico { access_log off; log_not_found off; }
    location = /robots.txt  { access_log off; log_not_found off; }

    error_page 404 /index.php;

    include snippets/lovata.com/gzip.conf;
    include snippets/lovata.com/static.conf;
    include snippets/lovata.com/production/php.conf;
    include snippets/lovata.com/whitelist.conf;

    location ~ /\.ht {
        deny all;
    }
}
