<div class="october-cms" data-logo="black" data-page-id="october-cms">
    <header class="cms--header">
        <canvas class="october-cms--background"></canvas>
        <div class="cms--title">October
            <span class="cms--title-git">
                <span class="cms--title-git-text"></span>
                <svg xmlns="http://www.w3.org/2000/svg" width="31" height="30" viewBox="0 0 31 30"><path fill="#100a1c" d="M25.7 28.69v-.05l-1.47-9.03 6.43-6.43a1.17 1.17 0 0 0-.64-1.98l-8.95-1.38-4.05-8.18a1.15 1.15 0 0 0-2.06 0L10.9 9.82 1.95 11.2c-.62.1-1.05.7-.96 1.33.04.25.16.47.33.65l6.43 6.43-1.47 9.03c-.1.63.32 1.23.95 1.34.24.04.5 0 .72-.12L14 26.69c.1-1.05.22-2.38.21-2.8-2.34.51-2.83-1.13-2.83-1.13-.39-.97-.94-1.23-.94-1.23-.76-.53.06-.51.06-.51.84.05 1.29.86 1.29.86.75 1.3 1.97.92 2.45.7.07-.54.29-.91.53-1.12-1.87-.22-3.83-.94-3.83-4.17 0-.92.33-1.67.86-2.26a3.08 3.08 0 0 1 .09-2.23s.7-.23 2.31.86a8.03 8.03 0 0 1 4.22 0c1.61-1.1 2.31-.86 2.31-.86a3 3 0 0 1 .08 2.23c.54.59.87 1.34.87 2.26 0 3.24-1.97 3.95-3.84 4.16.3.26.57.78.57 1.56 0 .79.17 2.8.28 4.06l5.33 2.79a1.16 1.16 0 0 0 1.68-1.17z"/></svg>
            </span>
        </div>
        <h1 class="cms--subtitle">Custom Web Development With OctoberCMS</h1>
        <div class="cms--arrow">&#8595;</div>
    </header>
    <section class="cms--content" id="cms-content">
        <div class="cms--content-top">
            <div class="cms--content-promo">
                <p class="cms--content-promo-text">To successfully implement your project, LOVATA recommends October CMS based on Laravel PHP platform, which is the latest generation open-source content management system.</p>
                <p class="cms--content-promo-text">LOVATA has worked with the majority of well-known CMS systems.  During the last few years, however, we have been recommending OctoberCMS as the optimal CMS choice for most of our customers, especially for those who value performance, usability, efficiency and security.</p>
            </div>
            <div class="cms--content-feature">
                <h2 class="cms--feature-title">Why OctoberCMS?</h2>
                <p class="cms--feature-text">Nowadays, there are many content management systems to choose from. Some have existed for years and are very common, while others are quickly gaining popularity, thanks to their active developers community and the users that are switching from other popular CMS systems.</p>
                <p class="cms--feature-text">All CMS systems have a number of advantages and disadvantages, and the final choice often depends on each project’s requirements and varying customer’s preferences. Since LOVATA’s main goal is to increase each of its customer’s profits, we love to offer the most appropriate and advanced technology choices to all of our customers so that they stay ahead of their competition.</p>
            </div>
        </div>
        <div class="cms--advantage">
            <h2 class="cms--advantage-title">So what are the advantages of OctoberCMS?</h2>
            <ul class="cms--advantage-list">
                <li class="cms--advantage-item">
                    <div class="cms--advantage-item-count _desktop">1</div>
                    <h3 class="cms--advantage-item-title">
                        <span class="cms--advantage-item-count _mobile">1.</span>
                        Cutting-edge technology
                    </h3>
                    <p class="cms--advantage-item-text">OctoberCMS is, perhaps, the most technologically advanced CMS platform to date. It has a modern modular core architecture that is based on Laravel Framework, uses the latest PHP capabilities and has the ability to apply the most up-to-date programming patterns. All of these advantages allow developers to significantly reduce the efforts required to build even the most technologically complex projects, as well as their continued support and further development.</p>
                </li>
                <li class="cms--advantage-item">
                    <div class="cms--advantage-item-count _desktop">2</div>
                    <h3 class="cms--advantage-item-title">
                        <span class="cms--advantage-item-count _mobile">2.</span>
                        Intuitive and easy-to-use interface
                    </h3>
                    <p class="cms--advantage-item-text">Even though OctoberCMS has impressive technical capabilities, it is unexpectedly user-friendly and intuitive. It is very easy to quickly master the admin panel thanks to minimalistic visual and functional components of its interface.</p>
                </li>
                <li class="cms--advantage-item">
                    <div class="cms--advantage-item-count _desktop">3</div>
                    <h3 class="cms--advantage-item-title">
                        <span class="cms--advantage-item-count _mobile">3.</span>
                        Large developers community
                    </h3>
                    <p class="cms--advantage-item-text">The overall interest of international developers community towards each open-source software is one of the best measures of its reliability. To date, both OctoberCMS and the Laravel Framework that the CMS is based on are the most popular projects on GitHub.com in their respective categories.</p>
                </li>
                <li class="cms--advantage-item">
                    <div class="cms--advantage-item-count _desktop">4</div>
                    <h3 class="cms--advantage-item-title">
                        <span class="cms--advantage-item-count _mobile">4.</span>
                        High performance
                    </h3>
                    <p class="cms--advantage-item-text">Unlike some of its competitors, OctoberCMS is naturally fast and does not require plugins to have its performance improved. The CMS also has some cool default performance features, such as minification of JavaScript and CSS files and it is quite easy to reach the highest page speed scores.</p>
                </li>
                <li class="cms--advantage-item">
                    <div class="cms--advantage-item-count _desktop">5</div>
                    <h3 class="cms--advantage-item-title">
                        <span class="cms--advantage-item-count _mobile">5.</span>
                        High security by default
                    </h3>
                    <p class="cms--advantage-item-text">Unlike most other content management systems, OctoberCMS has only one file that can be directly accessed: index.php. Additionally, all of the plugins go through vigorous validation process, meaning that anything that is added to your project is trustworthy and will not open a back door to your website. This is especially important to customers who value their company’s reputation and their client’s privacy.</p>
                </li>
            </ul>
        </div>
        <div class="cms--vendor">
            <div class="cms--vendor-title">What they write about October:</div>
            <ul class="cms--vendor-list">
                <li class="cms--vendor-item">
                    <a href="https://www.sitepoint.com/introducing-octobercms-laravel-based-cms/" target="_blank" class="cms--vendor-link">
                        <img src="{{ 'assets/img/october-cms/sitepoint.png'| theme }}" alt="" class="cms--vendor-img">
                    </a>
                </li>
                <li class="cms--vendor-item">
                    <a href="https://en.wikipedia.org/wiki/October_(CMS)" target="_blank" class="cms--vendor-link">
                        <img src="{{ 'assets/img/october-cms/wikipedia.png'| theme }}" alt="" class="cms--vendor-img">
                    </a>
                </li>
                <li class="cms--vendor-item">
                    <a href="http://www.cmswire.com/web-cms/wordpress-stays-focused-on-security-more-open-source-cms-news/" target="_blank" class="cms--vendor-link">
                        <img src="{{ 'assets/img/october-cms/cms-wire.png'| theme }}" alt="" class="cms--vendor-img">
                    </a>
                </li>
                <li class="cms--vendor-item">
                    <a href="https://www.cloudways.com/blog/how-to-install-october-cms/" target="_blank" class="cms--vendor-link">
                        <img src="{{ 'assets/img/october-cms/cloudways.png'| theme }}" alt="" class="cms--vendor-img">
                    </a>
                </li>
            </ul>
        </div>
    </section>

    {% partial 'components/why-lovata/why-lovata' %}

    {% partial 'components/plugins/plugins' %}

    <section class="cms--portfolio">
        <h2 class="cms--portfolio-title">Our Projects on October</h2>
        <div class="cms--portfolio-list">
            <div class="portfolio__item">
                <a href="{{ 'portfolio-2doc'| page }}" class="portfolio__item-link">
                    <img src="{{ 'assets/img/portfolio-prev/prewiev_2doc.png'| theme }}" alt="Find a doctor" class="portfolio__img-prev"/>
                    <div class="portfolio__item-desc">
                        <p class="portfolio__item-desc-title">2doc</p>
                        <p class="portfolio__item-desc-text">Find a Doctor Web Portal</p>
                    </div>
                </a>
            </div>
            <div class="portfolio__item">
                <a href="{{ 'portfolio-115bel'| page }}" class="portfolio__item-link">
                    <img src="{{ 'assets/img/portfolio-prev/115bel.png'| theme }}" alt="E-government Information System Portal" class="portfolio__img-prev"/>
                    <div class="portfolio__item-desc">
                        <p class="portfolio__item-desc-title">MyCity</p>
                        <p class="portfolio__item-desc-text">E-government Information System Portal</p>
                    </div>
                </a>
            </div>
            <div class="portfolio__item">
                <a href="{{ 'portfolio-awarepoint'| page }}" class="portfolio__item-link">
                    <img src="{{ 'assets/img/portfolio-prev/awarepoint.png'| theme }}" alt="Responsive website for medical technology company preview" class="portfolio__img-prev"/>
                    <div class="portfolio__item-desc">
                        <p class="portfolio__item-desc-title">Awarepoint</p>
                        <p class="portfolio__item-desc-text">Responsive website for medical technology company</p>
                    </div>
                </a>
            </div>
            <div class="portfolio__item">
                <a href="{{ 'portfolio-host-for-web'| page }}" class="portfolio__item-link">
                    <img src="{{ 'assets/img/portfolio-prev/hostForWeb.png'| theme }}" alt="Corporate website for hosting provider preview" class="portfolio__img-prev"/>
                    <div class="portfolio__item-desc">
                        <p class="portfolio__item-desc-title">HostForWeb corporate website</p>
                        <p class="portfolio__item-desc-text">Corporate website for hosting provider</p>
                    </div>
                </a>
            </div>
            <div class="portfolio__item">
                <a href="{{ 'portfolio-jump-wireless'| page }}" class="portfolio__item-link">
                    <img src="{{ 'assets/img/portfolio-prev/jumpWireless.png'| theme }}" alt="Custom ecommerce applicationCorporate website for large email preview" class="portfolio__img-prev"/>
                    <div class="portfolio__item-desc">
                        <p class="portfolio__item-desc-title">JumpWireless.org</p>
                        <p class="portfolio__item-desc-text">Custom ecommerce application</p>
                    </div>
                </a>
            </div>
            <div class="portfolio__item">
                <a href="{{ 'portfolio-we-bridge'| page }}" class="portfolio__item-link">
                    <img src="{{ 'assets/img/portfolio-prev/weBridge.png'| theme }}" alt="Responsive Website for a UK language academy preview" class="portfolio__img-prev"/>
                    <div class="portfolio__item-desc">
                        <p class="portfolio__item-desc-title">we-bridge.co.uk</p>
                        <p class="portfolio__item-desc-text">Responsive Website for a UK language academy</p>
                    </div>
                </a>
            </div>
            <div class="portfolio__item">
                <a href="{{ 'portfolio-english-uk'| page }}" class="portfolio__item-link">
                    <img src="{{ 'assets/img/portfolio-prev/englishUK.png'| theme }}" alt="Website design and development for English UK Wales preview" class="portfolio__img-prev"/>
                    <div class="portfolio__item-desc">
                        <p class="portfolio__item-desc-title">English UK (Wales English Language Courses)</p>
                        <p class="portfolio__item-desc-text">Website design and development for English UK Wales</p>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <section class="cms--achievements">
        <ul class="cms--achievements-list">
            <li class="cms--achievements-item">
                <h2 class="cms--achievements-item-title">100+</h2>
                <span class="cms--achievements-item-text">happy customers</span>
            </li>
            <li class="cms--achievements-item">
                <span class="cms--achievements-item-desc">More than</span>
                <h2 class="cms--achievements-item-title">10 000</h2>
                <span class="cms--achievements-item-text">months combined experience</span>
            </li>
            <li class="cms--achievements-item">
                <h2 class="cms--achievements-item-title">10</h2>
                <span class="cms--achievements-item-text">years in business</span>
            </li>
        </ul>
    </section>
    <div class="clutch-widget__container"></div>
    <section class="cms--bottom">
        <a href="{{ 'request-form'| page }}" class="btn-request" data-btn-request>I’d like to work with you!</a>
    </section>
</div>
{% partial 'components/small-footer/small-footer' %}
