<section id="clients" class="clients">
    <div class="clients__inner">
        <div class="clients__text-content">
            <h2 class="clients__title">We successfully delivered solutions to over 100 companies worldwide</h2>
            <span class="clients__text">from London, UK to NYC, New York, USA and Vancouver, Canada</span>
        </div>
        <ul class="clients__list">
            <li class="clients__item">
                <img src="/themes/lovata/assets/img/clients/mail-ru.png" alt="" class="clients__item-img">
            </li>
            <li class="clients__item">
                <img src="/themes/lovata/assets/img/clients/dev-bank.png" alt="" class="clients__item-img">
            </li>
            <li class="clients__item">
                <img src="/themes/lovata/assets/img/clients/mts.png" alt="" class="clients__item-img">
            </li>
            <li class="clients__item">
                <img src="/themes/lovata/assets/img/clients/amway.png" alt="" class="clients__item-img">
            </li>
            <li class="clients__item">
                <img src="/themes/lovata/assets/img/clients/yandex.png" alt="" class="clients__item-img">
            </li>
            <li class="clients__item">
                <img src="/themes/lovata/assets/img/clients/sberbank.png" alt="" class="clients__item-img">
            </li>
            <li class="clients__item">
                <img src="/themes/lovata/assets/img/clients/samsung.png" alt="" class="clients__item-img">
            </li>
            <li class="clients__item">
                <img src="/themes/lovata/assets/img/clients/nestle.png" alt="" class="clients__item-img">
            </li>
            <li class="clients__item">
                <img src="/themes/lovata/assets/img/clients/hp.png" alt="" class="clients__item-img">
            </li>
            <li class="clients__item">
                <img src="/themes/lovata/assets/img/clients/mcdonalds.png" alt="" class="clients__item-img">
            </li>
            <li class="clients__item">
                <img src="/themes/lovata/assets/img/clients/my-com.png" alt="" class="clients__item-img">
            </li>
            <li class="clients__item">
                <img src="/themes/lovata/assets/img/clients/ford.png" alt="" class="clients__item-img">
            </li>
            <li class="clients__item">
                <img src="/themes/lovata/assets/img/clients/toyota.png" alt="" class="clients__item-img">
            </li>
            <li class="clients__item">
                <img src="/themes/lovata/assets/img/clients/nutricia.png" alt="" class="clients__item-img">
            </li>
            <li class="clients__item">
                <img src="/themes/lovata/assets/img/clients/avon.png" alt="" class="clients__item-img">
            </li>
            <li class="clients__item">
                <img src="/themes/lovata/assets/img/clients/kfc.png" alt="" class="clients__item-img">
            </li>
            <li class="clients__item">
                <img src="/themes/lovata/assets/img/clients/headhunter.png" alt="" class="clients__item-img">
            </li>
            <li class="clients__item">
                <img src="/themes/lovata/assets/img/clients/vtb.png" alt="" class="clients__item-img">
            </li>
            <li class="clients__item">
                <img src="/themes/lovata/assets/img/clients/danone.png" alt="" class="clients__item-img">
            </li>
            <li class="clients__item">
                <img src="/themes/lovata/assets/img/clients/philips.png" alt="" class="clients__item-img">
            </li>
            <li class="clients__item">
                <img src="/themes/lovata/assets/img/clients/modx.png" alt="" class="clients__item-img">
            </li>
            <li class="clients__item">
                <img src="/themes/lovata/assets/img/clients/indesit.png" alt="" class="clients__item-img">
            </li>
            <li class="clients__item">
                <img src="/themes/lovata/assets/img/clients/cue-path.png" alt="" class="clients__item-img">
            </li>
            <li class="clients__item">
                <img src="/themes/lovata/assets/img/clients/stanford.png" alt="" class="clients__item-img">
            </li>
            <li class="clients__item">
                <img src="/themes/lovata/assets/img/clients/redmond.png" alt="" class="clients__item-img">
            </li>
            <li class="clients__item">
                <img src="/themes/lovata/assets/img/clients/astra-zeneca.png" alt="" class="clients__item-img">
            </li>
            <li class="clients__item">
                <img src="/themes/lovata/assets/img/clients/grant-thornton.png" alt="" class="clients__item-img">
            </li>
            <li class="clients__item">
                <img src="/themes/lovata/assets/img/clients/alfa-bank.png" alt="" class="clients__item-img">
            </li>
            <li class="clients__item">
                <img src="/themes/lovata/assets/img/clients/renault.png" alt="" class="clients__item-img">
            </li>
            <li class="clients__item">
                <img src="/themes/lovata/assets/img/clients/zeptolab.png" alt="" class="clients__item-img">
            </li>

        </ul>
    </div>
</section>
