<main class="landing-page__container scholarship" data-logo="burger-white">

    <header class="landing-page__header scholarship__header">
        <div class="landing-page__inner-block">
            <h1 class="landing-page__main-title">LOVATA 2018-2019 <br>Web Accessibility Scholarship</h1>
            <div class="landing-page__header-info">
                <p class="landing-page__header-info-text">If you are an undergraduate student and need financial assistance towards your educational or living expenses, LOVATA Web Accessibility Scholarship is for you!</p>
            </div>
            <div class="landing-page__header-icon">
                <span class="landing-page__header-icon-wrap">
                    <img src="{{ 'assets/img/accessibility-scholarship/education.svg' | theme }}" class="landing-page__header-icon-img" alt="Accessibility scholarship icon">
                </span>
                <span class="landing-page__icon-border landing-page__icon-border_size-s"></span>
                <span class="landing-page__icon-border landing-page__icon-border_size-m"></span>
                <span class="landing-page__icon-border landing-page__icon-border_size-l"></span>
            </div>
        </div>
    </header>

    <section class="landing-page__section scholarship__info">
        <div class="landing-page__inner-block">
            <p class="landing-page__text">LOVATA is offering a $X scholarship to a highly-motivated, well-versed, talented and skillful individual who is either beginning or continuing their college / university education. This scholarship can help cover school-related expenses, including tuition, learning materials, fees, boarding, etc. The scholarship will be awarded to the winner of an essay contest, the topic of which is <mark class="landing-page__mark">Web Accessibility and ADA Website Compliance</mark>.</p>
        </div>
    </section>

    <section class="landing-page__section scholarship__eligibility">
        <div class="landing-page__inner-block">
            <h2 class="landing-page__title">Scholarship Eligibility</h2>
            <ul class="landing-page__list landing-page__plus-list">
                <li class="landing-page__list-item">You have acquired, or will acquire a high school diploma in the 2018-2019 school year;</li>
                <li class="landing-page__list-item">You have maintained a 3.0 or higher GPA;</li>
                <li class="landing-page__list-item">You are a U.S. Citizen or hold Permanent Residency status;</li>
                <li class="landing-page__list-item">You are required to submit an enrollment verification letter / letter of acceptance from a college / university, or course registration for the coming semester;</li>
                <li class="landing-page__list-item">You are to complete an original essay about yourself and your experiences with, or what Web Accessibility means to you. The essay must be between 1k-1m words and be submitted in Microsoft Word, PDF, or Text File format;</li>
                <li class="landing-page__list-item">In your submission letter you must provide the following information: your full name, birth date, attending college / university, planned year of graduation, phone number, email address.</li>
            </ul>
        </div>
    </section>

    <section class="landing-page__section landing-page__no-top-padding landing-page__question-block scholarship__how-to-enter">
        <div class="landing-page__inner-block">
            <h2 class="landing-page__title">How to Enter</h2>
            <p class="landing-page__text">To be considered for our scholarship program, you must email your submission to <a href="mailto:scholarships@lovata.com">scholarships@lovata.com</a> no later than Date. A winner will be selected by Date and we will notify you by sending a confirmation letter via email. The check for $1.00 will then be sent to you via method.</p>
            <p class="landing-page__text">We’re excited that you are on your way to become a professional. Good luck, and may the odds be ever in your favor!</p>
        </div>
    </section>

    <section class="scholarship__about">
        <div class="landing-page__inner-block">
            <h2 class="landing-page__title">About LOVATA and Web Accessibility</h2>
            <p class="landing-page__text">Since the introduction of the Americans with Disabilities Act (ADA) in 1990, businesses have made many changes in the way they accommodate the physically or visually impaired people and hard of hearing individuals. Stores and other physical locations put forth various mechanisms to ensure disabled people have the same opportunities to acquire products and services as regular people. It is not just a legal obligation, but also a moral duty for all of us to provide these people with a friendly and convenient environment so they could lead their lives without being bound by the restraints their disability imposes on them.</p>
            <p class="landing-page__text">With the advent and rapid proliferation of the internet, most impaired people now prefer to obtain services and order goods online. Of course, they also would like to have the same experience while browsing the web for educational, entertainment and other purposes as any other individual. Thanks to the ADA legislation and the WCAG 2.0 web accessibility guidelines set forth by the World Wide Web Consortium (W3C), businesses now have a responsibility and an opportunity to make their web-based services fully available to individuals with disabilities.</p>
            <p class="landing-page__text">LOVATA puts ADA website compliance at the forefront of every design and development. Thanks to our rich experience working with clients across the globe, we have become one of the industry’s best accessibility experts. Our achievements have made us a Global Leader in Software and Web Development. With the help of this scholarship program, LOVATA Company is raising awareness of web accessibility among young students while at the same time helping gifted individuals to achieve their goals in becoming highly skilled professionals in their field.</p>
            <p class="landing-page__text">Higher education is a big step forward into a person’s future and we would like to be a part of it! That’s why we are providing a $1.00 Web Accessibility Scholarship Program for gifted and honorary students as a platform to build their careers.</p>
        </div>
    </section>

    <section class="scholarship__therms">
        <div class="landing-page__inner-block landing-page__banner">
            <div class="landing-page__banner-inner-block">
                <h2 class="landing-page__title">Terms & Conditions / Privacy Policy</h2>
                <p class="landing-page__text">There is no application fee for this scholarship. Your participation is entirely voluntary, and constitutes your consent for us to use your essay and the information presented to be posted on our website and/or other web portals. Your personal information and data you submitted will only be used for the purpose of offering the scholarship, awarding the scholarship, and any reporting responsibilities to taxing authorities. We will not use your personal information for any other purposes.</p>
            </div>
        </div>
    </section>

    <footer class="landing-page__order">
        <div class="landing-page__inner-block">
        <a href="{{ 'request-form'| page }}" class="landing-page__order-btn" data-btn-request>
            <span class="landing-page__order-btn-text">Contact Us Today</span>
        </a>
        </div>
    </footer>

</main>

{% partial 'components/small-footer/small-footer' %}
