<article class="jurist" data-logo="black">

    <header class="jurist__banner jurist__section_color_blue">
        <div class="jurist__inner-block">
            <h1 class="jurist__title">National Legal Knowledge Portal Development</h1>
            <date class="jurist__banner-date">August 1st, 2018</date>
        </div>
    </header>

    <section class="jurist__section jurist__client">
        <div class="jurist__inner-block">
            <a class="jurist__clientlink" href="http://jurist.by" rel="nofollow" target="_blank">jurist.by</a>

            <div class="jurist__client-info">
                <h2 class="jurist__content-title">Our Client</h2>
                <p class="jurist__text">Vladimir Grevtsov’s Legal Knowledge Agency’s is a large business media company
                    that delivers legal knowledge to law professionals from various firms, including corporate lawyers.
                    The agency also publishes a printed magazine, organizes educational events, including some of the
                    largest in the county, and holds regular expert discussions of country’s statutory act drafts.</p>
            </div>
        </div>
    </section>

    <section class="jurist__section jurist__start jurist__section_color_blue">
        <div class="jurist__inner-block">
            <h2 class="jurist__content-title">What We Started With</h2>
            <p class="jurist__text">The main issue was that the printed version of the magazine no longer attracted
                regular readers. The client had an online presence, but the website was obsolete, with outdated UI/UX.
                It simply listed PDF files of the magazine’s printed editions. It was basically an information product
                with no means to promote and share the content online. Users did not have proper options to search for
                relevant laws and legal documents. No search engine or links to legal acts were provided. Website users
                were seeking other, more modern ways of searching, reading and receiving legal information services
                online via their desktop and mobile devices.</p>
        </div>
    </section>

    <section class="jurist__section jurist__goals">
        <div class="jurist__inner-block">
            <h2 class="jurist__content-title">Main Goals And Objectives</h2>
            <p class="jurist__text">Our goal was to develop a whole new set of functionality to turn the project into a
                universal omnichannel solution and a one-stop legal knowledge portal to accommodate all use cases. For
                that we had to utilize our full set of expertise in web portal development and law firm web design.</p>
            <p class="jurist__text">The objectives were to complete the following:</p>
            <ul class="jurist__list jurist__list_with-marker">
                <li class="jurist__list-item">Provide access to an external portal of legal knowledge through paid
                    subscription;
                </li>
                <li class="jurist__list-item">Online representation of the printed magazine in a more structured and
                    approachable format;
                </li>
                <li class="jurist__list-item">Expand the portal’s sharing and distribution channels on the web (Add
                    functionality for sharing news, SEO optimization, etc.);
                </li>
                <li class="jurist__list-item">Counterparty/contractor background-check service, which includes manual
                    and automated monitoring mechanisms;
                </li>
                <li class="jurist__list-item">Design a modern UI and UX with smooth interactions and data flow for the
                    website to provide users with new, convenient, modern ways of consuming legal information and news.
                </li>
            </ul>

        </div>
    </section>

    <section class="jurist__section jurist__result jurist__section_color_blue">
        <div class="jurist__inner-block">
            <h2 class="jurist__content-title">Results and Achievements</h2>
            <p class="jurist__text">We have reached our goals and objectives and provided the client with a powerful,
                full-fledged legal knowledge web solution. It did not take long for the client to get the first results.
                The project’s revenue started rising at an increasing rate right after project launch. The client
                witnessed numbers that were 4 times higher compared to the same period of the prior year.</p>
        </div>
    </section>

    <section class="jurist__section jurist__scale">
        <div class="jurist__inner-block">
            <h2 class="jurist__content-title">Project’s Scale and Interesting Facts</h2>
            <ul class="jurist__list jurist__list_grid">
                <li class="jurist__list-item">
                    <img src="{{ 'assets/img/portfolio_site/jurist/pages.png'| theme }}" class="jurist__list-item-img"
                         alt="Pages icon">
                    <div><span class="jurist__number">1894</span> Pages</div>
                </li>
                <li class="jurist__list-item">
                    <img src="{{ 'assets/img/portfolio_site/jurist/layouts.png'| theme }}" class="jurist__list-item-img"
                         alt="Layouts icon">
                    <div><span class="jurist__number">50</span> Unique layouts</div>
                </li>
                <li class="jurist__list-item">
                    <img src="{{ 'assets/img/portfolio_site/jurist/testing.png'| theme }}" class="jurist__list-item-img"
                         alt="Checkpoints icon">
                    <div><span class="jurist__number">30 000</span> Testing checkpoints</div>
                </li>
            </ul>
        </div>
    </section>

    <section class="jurist__section jurist__unic-features jurist__section_color_blue">
        <div class="jurist__inner-block">
            <h2 class="jurist__content-title">Unique functionality and features</h2>
            <p class="jurist__text">A complex counterparty background-check service was developed. It includes:</p>
            <ul class="jurist__list jurist__list_with-marker">
                <li class="jurist__list-item">Expansive database of counterparties accumulating information from 15
                    various governmental knowledge bases and presenting it in a comprehensive, yet concise format that
                    is convenient for the user;
                </li>
                <li class="jurist__list-item">Manual and automated counterparty monitoring mechanisms, with options to
                    monitor the current state (operational, under trial, pending liquidation, bankruptcy, etc.).
                </li>
            </ul>

            <p class="jurist__text">Another feature that makes the service stand out among competition is the ability to
                give advice to lawyers on problematic issues. Additionally to providing recommendations with sound legal
                advice on individual issues, there is a possibility to download legal documents for specific cases.</p>
            <p class="jurist__text">We also integrated the powerful Sphinx search engine into the solution. This feature
                provides the solution with great search capabilities that allowed to find relevant content based on the
                weight of such parameters as appearance of the term in the: </p>

            <ul class="jurist__list jurist__list_with-marker">
                <li class="jurist__list-item">article title;</li>
                <li class="jurist__list-item">contents of the article;</li>
                <li class="jurist__list-item">author’s name;</li>
                <li class="jurist__list-item">article’s preview text.</li>
            </ul>
            <p class="jurist__text">Our search mechanism allows users to look for companies by typing in their tax ID
                and various versions of the name, including name synonyms. If the system does not find a certain company
                in its database, it redirects the search request to an external source and uses that information to
                provide the user with relevant results.</p>
        </div>
    </section>

    <section class="jurist__section jurist__team">
        <div class="jurist__inner-block">
            <h2 class="jurist__content-title">The Development Process</h2>
            <p class="jurist__text">What we offered to the client was custom web portal development services and started
                working hand-in-hand with them to deliver the envisioned solution.</p>
            <p class="jurist__text">The client originally had detailed prototypes, but they turned out to have little
                influence on the final look and feel of the product.</p>
            <p class="jurist__text">There were two teams, one from each side: LOVATA's team and client’s
                representatives.</p>

            <div class="portfolio-tmpl__columns-container">
                <div class="portfolio-tmpl__column">
                    <h3 class="jurist__list-title">LOVATA’s team:</h3>
                    <ul class="jurist__list jurist__list_with-marker">
                        <li class="jurist__list-item">Project manager;</li>
                        <li class="jurist__list-item">Business analyst;</li>
                        <li class="jurist__list-item">UI/UX expert;</li>
                        <li class="jurist__list-item">3 front-end specialists;</li>
                        <li class="jurist__list-item">2 back-end developers;</li>
                        <li class="jurist__list-item">2 QA engineers.</li>
                    </ul>
                </div>
                <div class="portfolio-tmpl__column">
                    <h3 class="jurist__list-title">Client’s team:</h3>
                    <ul class="jurist__list jurist__list_with-marker">
                        <li class="jurist__list-item">Product Owner;</li>
                        <li class="jurist__list-item">Editor in Chief;</li>
                        <li class="jurist__list-item">Business Analyst;</li>
                        <li class="jurist__list-item">Editor;</li>
                        <li class="jurist__list-item">Content Manager;</li>
                        <li class="jurist__list-item">Marketing Specialist;</li>
                        <li class="jurist__list-item">System Administrator.</li>
                    </ul>
                </div>
            </div>
            <p class="jurist__text">The teams had bi-weekly meetings, where the work completed during the sprint was
                presented. Since the project was quite complex, the tasks were prioritized accordingly. The deliveries
                happened once a month, with an MVP provided two months after the project’s launch. Project management
                was entirely on LOVATA’s side.</p>
        </div>
    </section>

    <section class="jurist__section jurist__design jurist__section_color_blue">
        <div class="jurist__inner-block">
            <h2 class="jurist__content-title">Complex Design</h2>
            <p class="jurist__text">The solution is not just another knowledge base portal. One of the main challenges
                we had to face was to create a User Experience that would help users to easily obtain the information
                they needed, whether it’s news, background checks, subscriptions: we had to make it all intuitive and
                fluid.</p>
            <p class="jurist__text">Our design comprised of over 50 unique layouts for various parts of the system. Each
                and every one of these layouts had to be discussed and approved by the client after our designer had
                created his concept and vision of the user story.</p>

            <img src="{{ 'assets/img/portfolio_site/jurist/cd-1.png' | theme}}" class="jurist__img" alt="Main page design">
            <img src="{{ 'assets/img/portfolio_site/jurist/cd-2.png' | theme}}" class="jurist__img" alt="Inner page design">
            <img src="{{ 'assets/img/portfolio_site/jurist/cd-3.png' | theme}}" class="jurist__img" alt="Dashboard design">
            <img src="{{ 'assets/img/portfolio_site/jurist/cd-4.png' | theme}}" class="jurist__img" alt="Services page design">
        </div>
    </section>

    <section class="jurist__section jurist__fe-features">
        <div class="jurist__inner-block">
            <h2 class="jurist__content-title">Front-End Features</h2>
            <p class="jurist__text">А full-fledged legal website design was implemented. The company’s website now
                includes a large knowledge-base of law-related and legal content, with the option of paid subscription
                that provides access to a set of products, including:</p>
            <ul class="jurist__list jurist__list_with-marker">
                <li class="jurist__list-item">Latest legislation news;</li>
                <li class="jurist__list-item">Online version of the printed magazine;</li>
                <li class="jurist__list-item">Counterparty background-check service (manual checking, as well as
                    automatic monitoring);
                </li>
                <li class="jurist__list-item">Access to an independent knowledge base of national laws and
                    regulations;
                </li>
                <li class="jurist__list-item">User’s profile that allows accumulating information, which can later be
                    used for marketing purposes by the client’s team.
                </li>
            </ul>
        </div>
    </section>

    <section class="jurist__section jurist__cross-platform jurist__section_color_blue">
        <div class="jurist__inner-block">
            <h2 class="jurist__content-title">Cross-Platform</h2>
            <p class="jurist__text">The solution has two separate versions implemented: for desktop and mobile devices.
                The type of mobile device is determined on the client side and sent to the server to receive an
                appropriate layout for each specific device type.</p>
            <div class="jurist__image-block">
                <img src="{{ 'assets/img/portfolio_site/jurist/cp-1.png' | theme}}" class="jurist__cross-platform-img" alt="Main menu mobile design">
                <img src="{{ 'assets/img/portfolio_site/jurist/cp-2.png' | theme}}" class="jurist__cross-platform-img" alt="Articles page mobile design">
                <img src="{{ 'assets/img/portfolio_site/jurist/cp-3.png' | theme}}" class="jurist__cross-platform-img" alt="Podcast page mobile design">
                <img src="{{ 'assets/img/portfolio_site/jurist/cp-4.png' | theme}}" class="jurist__cross-platform-img" alt="Contractor check mobile design">
                <img src="{{ 'assets/img/portfolio_site/jurist/cp-5.png' | theme}}" class="jurist__cross-platform-img" alt="Proceedings page mobile design">
                <img src="{{ 'assets/img/portfolio_site/jurist/cp-6.png' | theme}}" class="jurist__cross-platform-img" alt="Company page mobile design">
            </div>
        </div>
    </section>

    <section class="jurist__section jurist__be-features">
        <div class="jurist__inner-block">
            <h2 class="jurist__content-title">Backend Features</h2>
            <p class="jurist__text">Our solution brought many advantages for end-users, increased the service’s client
                base and overall online presence. It also introduced rich back-end features for the portal’s admins to
                manage their new website and provide fresh and relevant content.</p>
            <p class="jurist__text">The new back-end features of the website include the following functionality for
                admins:</p>
            <ul class="jurist__list jurist__list_with-marker">
                <li class="jurist__list-item">Flexible subscription system provides options for users (using
                    promo-codes) to gain access to different product bundles, including trial sets. This, combined with
                    the custom banner placement mechanism, is a powerful tool in the hands of marketing managers;
                </li>
                <li class="jurist__list-item">Flexible news placement allows to add news releases and updates,
                    advertisements and announcements;
                </li>
                <li class="jurist__list-item">A powerful custom SEO plugin with rich functionality, which was
                    implemented by LOVATA’s development team.
                </li>
            </ul>
        </div>
    </section>

    <section class="jurist__section jurist__testing jurist__section_color_blue">
        <div class="jurist__inner-block">
            <h2 class="jurist__content-title">Diligent Testing & Browser Support</h2>
            <p class="jurist__text">Testing turned out to be quite complex as well. There were over 30 000 testing
                checkpoints that embodied the whole system. Various features were covered by unit testing and automated
                testing.</p>
            <p class="jurist__text">We tested the solution across 5 desktop and 2 mobile browsers. The end solution had
                full support for the following browsers:</p>
            <ul class="jurist__list jurist__list_font_common">
                <li class="jurist__list-item"><span class="jurist__bold">Desktop:</span> Google Chrome 57+; Mozilla
                    Firefox 52+; Opera Browser 44+; Microsoft Edge 14+, Safari 10.1+.
                </li>
                <li class="jurist__list-item"><span class="jurist__bold">Mobile:</span> Google Chrome 57+; Safari 10.1+.
                </li>
            </ul>
            <p class="jurist__text">As a result, LOVATA has delivered a robust, reliable and stable solution.</p>
        </div>
    </section>

    <section class="jurist__section jurist__future">
        <div class="jurist__inner-block">
            <h2 class="jurist__content-title">Plans for the Future</h2>
            <p class="jurist__text">The work on the project is ongoing and additional functionality is being developed
                as we speak. One of the upcoming features will be developed by using Artificial Intelligence: special
                machine learning algorithms will soon be introduced. This will provide an ability to track the history
                of counterparties and receive high-probability predictions on their future activity.</p>
            <p class="jurist__text">Тhe service will be capable of determining whether counterparties are likely to
                follow the same issues with transition, liquidation, bankruptcy, fraudulent activity etc. based on the
                history of their predecessors and a large set of data gathered from various sources.</p>
        </div>
    </section>

    <footer class="jurist__section jurist__footer">
        <div class="jurist__tech">
            <div class="jurist__inner-block">
                <h2 class="jurist__content-title">Technologies:</h2>
                <ul class="jurist__tech-list">
                    <li class="jurist__tech-list-item">
                        <a href="{{ 'october' | page }}">
                            <img class="jurist__tech-img" src="{{ 'assets/img/octoberCMS.png'| theme }}" alt="OctoberCMS icon">
                        </a>
                    </li>
                    <li class="jurist__tech-list-item">
                        <img class="jurist__tech-img" src="{{ 'assets/img/logo-jquery.png'| theme }}" alt="jQuery icon"/>
                    </li>
                    <li class="jurist__tech-list-item">
                        <img class="jurist__tech-img"
                             src="{{ 'assets/img/october-cms/icon-shopaholic-sphinx.png'| theme }}" alt="sphinx icon">
                    </li>
                    <li class="jurist__tech-list-item">
                        <img class="jurist__tech-img" src="{{ 'assets/img/beanstalk-logo.jpg'| theme }}" alt="beanstalk icon"/>
                    </li>
                    <li class="jurist__tech-list-item">
                        <img class="jurist__tech-img" src="{{ 'assets/img/redis-logo.png'| theme }}" alt="redis icon"/>
                    </li>
                </ul>
            </div>
        </div>
        <div class="portfolio-tmpl__similar">
            <h2 class="portfolio-tmpl__similar-title">Similar projects</h2>
            <div class="portfolio-tmpl__similar-list">
                <div class="portfolio__item">
                    <a href="{{ 'portfolio-jump-wireless'| page }}" class="portfolio__item-link">
                        <img src="{{ 'assets/img/portfolio-prev/jumpWireless.png'| theme }}" alt="Custom ecommerce applicationCorporate website for large email preview" class="portfolio__img-prev"/>
                        <div class="portfolio__item-desc">
                            <p class="portfolio__item-desc-title">JumpWireless.org</p>
                            <p class="portfolio__item-desc-text">Custom ecommerce application</p>
                        </div>
                    </a>
                </div>
                <div class="portfolio__item">
                    <a href="{{ 'portfolio-a-renda'| page }}" class="portfolio__item-link">
                        <img src="{{ 'assets/img/portfolio-prev/a-renda.png'| theme }}" alt="Construction Equipment Marketplace and Lease Services preview" class="portfolio__img-prev"/>
                        <div class="portfolio__item-desc">
                            <p class="portfolio__item-desc-title">a-renda.by</p>
                            <p class="portfolio__item-desc-text">Construction Equipment Marketplace and Lease Services</p>
                        </div>
                    </a>
                </div>
                <div class="portfolio__item">
                    <a href="{{ 'portfolio-host-for-web'| page }}" class="portfolio__item-link">
                        <img src="{{ 'assets/img/portfolio-prev/hostForWeb.png'| theme }}" alt="Corporate website for hosting provider preview" class="portfolio__img-prev"/>
                        <div class="portfolio__item-desc">
                            <p class="portfolio__item-desc-title">HostForWeb corporate website</p>
                            <p class="portfolio__item-desc-text">Corporate website for hosting provider</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </footer>

</article>

{% partial 'components/small-footer/small-footer' %}
