<section class="portfolio-tmpl">
    <div class="portfolio-tmpl__container">
        <div class="portfolio-tmpl__header">
            <div class="portfolio-tmpl__header-top">
                <h1 class="portfolio-tmpl__title">Custom Design for Mail.ru Web Services</h1>
                <div class="portfolio-tmpl__customer">Customer: <span class="portfolio-tmpl__customer-name">Mail.ru Group</span></div>
            </div>
        </div>

        <h2 class="portfolio-tmpl__content-title">Our Client</h2>
        <p class="portfolio-tmpl__desc">Mail.ru Group is the leading web services provider on the Russian-speaking market. It offers such services as email, social media, instant messaging, online games, job searching, eCommerce and cloud solutions. In 2017 Mail.ru Group was listed in the top 100 of Forbes “Most Innovative Growth Companies” list.</p>

        <h2 class="portfolio-tmpl__content-title">Longtime Partnership Project</h2>
        <p class="portfolio-tmpl__desc">Mail.ru provides a long list of business and cloud solutions for companies of various scale - from small-size startups to large enterprises. These solutions include cloud storage, virtual servers, analytics, and much more. LOVATA company has been working with Mail.ru for almost a decade now, providing prolific design services to create Mail.ru’s unique brand identity. Meticulously working on every page layout, every detail, we created the best image possible for the company’s business solutions.</p>
        <p class="portfolio-tmpl__desc">Below are the latest major projects from our Mail.ru partnership portfolio.</p>

        <h2 class="portfolio-tmpl__content-title">Mail.ru Cloud Solutions - Hotbox</h2>
        <p class="portfolio-tmpl__desc">Cloud solution for “hot” (regularly used) data that provides storage for a large amount of files for media service providers, online mass-media, websites with user-generated content and mobile applications.</p>

        <div class="portfolio-tmpl__content-small">
            <div class="portfolio-tmpl__small-img-wrap portfolio-tmpl__small-img-wrap_width-50 js-uploadImg" data-img-path="{{ 'assets/img/portfolio_site/mailru-web-services/hotbox.png'| theme }}">
                <img src="{{ 'assets/img/portfolio_site/mailru-web-services/small/hotbox.png'| theme }}" alt="hotbox design screenshot" class="portfolio-tmpl__img-small">
            </div>
        </div>

        <h2 class="portfolio-tmpl__content-title">Mail.ru Cloud Solutions - Icebox</h2>
        <p class="portfolio-tmpl__desc">Cloud solution for storing rarely used data, e.g. backups, system logs, media content, scientific data, statistics and archives.</p>
        <div class="portfolio-tmpl__content-small">
            <div class="portfolio-tmpl__small-img-wrap portfolio-tmpl__small-img-wrap_width-50 js-uploadImg" data-img-path="{{ 'assets/img/portfolio_site/mailru-web-services/icebox.png'| theme }}">
                <img src="{{ 'assets/img/portfolio_site/mailru-web-services/small/icebox.png'| theme }}" alt="icebox design screenshot" class="portfolio-tmpl__img-small">
            </div>
        </div>

        <h2 class="portfolio-tmpl__content-title">Mail.ru Cloud Solutions - Teambox</h2>
        <p class="portfolio-tmpl__desc">Cloud storage solution that allows companies to share files, media, reports, presentations, and archives within their work team.</p>
        <div class="portfolio-tmpl__content-small">
            <div class="portfolio-tmpl__small-img-wrap portfolio-tmpl__small-img-wrap_width-50 js-uploadImg" data-img-path="{{ 'assets/img/portfolio_site/mailru-web-services/teambox.png'| theme }}">
                <img src="{{ 'assets/img/portfolio_site/mailru-web-services/small/teambox.png'| theme }}" alt="teambox design screenshot" class="portfolio-tmpl__img-small">
            </div>
        </div>

        <h2 class="portfolio-tmpl__content-title">Mail.ru Cloud Solutions - Infra</h2>
        <p class="portfolio-tmpl__desc">Scalable and secure cloud computing services provided through one simple web interface.</p>
        <div class="portfolio-tmpl__content-small">
            <div class="portfolio-tmpl__small-img-wrap portfolio-tmpl__small-img-wrap_width-50 js-uploadImg" data-img-path="{{ 'assets/img/portfolio_site/mailru-web-services/infra.png'| theme }}">
                <img src="{{ 'assets/img/portfolio_site/mailru-web-services/small/infra.png'| theme }}" alt="infra design screenshot" class="portfolio-tmpl__img-small">
            </div>
        </div>

        <h2 class="portfolio-tmpl__content-title">Mail.ru Cloud Solutions - GPU</h2>
        <p class="portfolio-tmpl__desc">NVIDIA® Tesla® V100 GPU powered cloud computing solution using high-performance graphic processing units to provide deep learning capabilities.</p>
        <div class="portfolio-tmpl__content-small">
            <div class="portfolio-tmpl__small-img-wrap portfolio-tmpl__small-img-wrap_width-50 js-uploadImg" data-img-path="{{ 'assets/img/portfolio_site/mailru-web-services/gpu.png'| theme }}">
                <img src="{{ 'assets/img/portfolio_site/mailru-web-services/small/gpu.png'| theme }}" alt="gpu design screenshot" class="portfolio-tmpl__img-small">
            </div>
        </div>

        <div class="portfolio-tmpl__tech">
            <h2 class="portfolio-tmpl__tech-title">Technologies:</h2>
            <div class="portfolio-tmpl__tech-list">
                <a href="{{ 'js-dev' | page }}" class="portfolio-tmpl__tech-link stub"># EcmaScript 2015 (ES6)</a>
                <a href="{{ 'nodejs-dev' | page }}" class="portfolio-tmpl__tech-link"># NodeJS</a>
                <a href="#" class="portfolio-tmpl__tech-link"># MongoDB</a>
                <a href="#" class="portfolio-tmpl__tech-link"># Express</a>
            </div>
        </div>
    </div>

    <div class="portfolio-tmpl__similar">
        <h2 class="portfolio-tmpl__similar-title">Similar projects</h2>
        <div class="portfolio-tmpl__similar-list">
            <div class="portfolio__item">
                <a href="{{ 'portfolio-we-bridge'| page }}" class="portfolio__item-link">
                    <img src="{{ 'assets/img/portfolio-prev/weBridge.png'| theme }}" alt="Responsive Website for a UK language academy preview" class="portfolio__img-prev"/>
                    <div class="portfolio__item-desc">
                        <p class="portfolio__item-desc-title">we-bridge.co.uk</p>
                        <p class="portfolio__item-desc-text">Responsive Website for a UK language academy</p>
                    </div>
                </a>
            </div>
            <div class="portfolio__item">
                <a href="{{ 'portfolio-mailru-face-recognition'| page }}" class="portfolio__item-link">
                    <img src="{{ 'assets/img/portfolio-prev/mailru-face-rec.png'| theme }}" alt="Mail.ru Face Recognition App preview" class="portfolio__img-prev"/>
                    <div class="portfolio__item-desc">
                        <p class="portfolio__item-desc-title">Mail.ru Group</p>
                        <p class="portfolio__item-desc-text">Face Recognition App</p>
                    </div>
                </a>
            </div>
            <div class="portfolio__item">
                <a href="{{ 'portfolio-gozebra'| page }}" class="portfolio__item-link">
                    <img src="{{ 'assets/img/portfolio-prev/gozebra.png'| theme }}" alt="Car Insurance Aggregator: Web App, Mobile Apps and CRM preview" class="portfolio__img-prev"/>
                    <div class="portfolio__item-desc">
                        <p class="portfolio__item-desc-title">Gozebra.kz</p>
                        <p class="portfolio__item-desc-text">Car Insurance Aggregator: Web App, Mobile Apps and CRM</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<div class="popup-wrap">
    <button type="button" class="popup-wrap__close">
        <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 29 29"><path fill="#fff" d="M3.19 1.06L14.5 12.37 25.81 1.06a1 1 0 0 1 1.42 0l.71.71a1 1 0 0 1 0 1.42L16.62 14.5l11.31 11.31c.4.39.4 1.03 0 1.42l-.7.7a1 1 0 0 1-1.42 0l-11.3-11.3-11.32 11.3a1 1 0 0 1-1.42 0l-.7-.7a.99.99 0 0 1 0-1.42l11.3-11.31L1.07 3.18a1 1 0 0 1 0-1.41l.71-.71a1 1 0 0 1 1.42 0z"/></svg>
    </button>
</div>
{% partial 'components/small-footer/small-footer' %}
