<section class="why-lovata">
    <div class="why-lovata--inner">
        <h2 class="why-lovata--title">Why LOVATA?</h2>
        <p class="why-lovata--text">LOVATA has successfully delivered solutions to over 100 companies worldwide. We worked with such brands as Samsung, Philips, Danone, Mail.Ru Group, Yandex, VTB Bank, Hewlett-Packard, Nestle and many others.</p>
        <ul class="why-lovata--feature-list">
            <li class="why-lovata--feature-item _icon-blue">We use the most advanced technologies and programming techniques</li>
            <li class="why-lovata--feature-item _icon-red">360 day warranty period on all products that we develop</li>
            <li class="why-lovata--feature-item _icon-yellow">Lots of happy clients and references from US and Canada</li>
        </ul>
    </div>
</section>