<section class="portfolio-tmpl">
    <div class="portfolio-tmpl__container">
        <div class="portfolio-tmpl__header">
            <div class="portfolio-tmpl__header-top">
                <h1 class="portfolio-tmpl__title">Corporate Style, Logo and Web Design for Development Bank</h1>
                <div class="portfolio-tmpl__customer">Customer: <span class="portfolio-tmpl__customer-name">Development Bank of the Republic of Belarus</span></div>
            </div>
            <div class="portfolio-tmpl__client-info">
                <a href="http://brrb.by/en/" rel="nofollow" target="_blank" class="portfolio-tmpl__link">http://brrb.by/en/</a>
            </div>
            <p class="portfolio-tmpl__desc">Development Bank of the Republic of Belarus controls the system of financing state programs and investment projects of social importance.</p>
            <p class="portfolio-tmpl__desc">LOVATA Company has designed a unique corporate style with a logo, and developed a corporate website for the customer.</p>

            <h2 class="portfolio-tmpl__add-desc-title">Corporate Style Design</h2>
            <p class="portfolio-tmpl__desc">While creating the bank’s corporate style, we set up a goal to create a modern, memorable logo and corporate identity elements that would form the bank’s image both in the Republic of Belarus and internationally. The goal was to create something modern, yet simple, that would be correctly perceived by international and local audience.</p>

            <h2 class="portfolio-tmpl__add-desc-title">Logo Design</h2>
            <p class="portfolio-tmpl__desc">The Bank’s logo is comprised of a graphic symbol and corporate writing style. Trademark in the form of the letter "D" lays emphasis on the word "Development" in the name of the organization. The growth chart as a structural element completes the outline of the symbol, summarizing the direction of the organization’s activities.</p>

            <h2 class="portfolio-tmpl__add-desc-title">Website Design and Development</h2>
            <p class="portfolio-tmpl__desc">The Bank’s website meets all recent web development trends. Courage, brilliance, individualism and modernity, the main project requirements, were fully implemented.<br>As a result, we created one of the most striking information projects present today both on the local state sector and country’s banking industry.</p>
        </div>
        <div class="portfolio-tmpl__content">
            <img src="{{ 'assets/img/portfolio_site/dev-bank/5.png'| theme }}" alt="" class="portfolio-tmpl__img">
            <img src="{{ 'assets/img/portfolio_site/dev-bank/1.png'| theme }}" alt="" class="portfolio-tmpl__img">
            <img src="{{ 'assets/img/portfolio_site/dev-bank/2.png'| theme }}" alt="" class="portfolio-tmpl__img">
            <img src="{{ 'assets/img/portfolio_site/dev-bank/3.png'| theme }}" alt="" class="portfolio-tmpl__img">
            <img src="{{ 'assets/img/portfolio_site/dev-bank/4.png'| theme }}" alt="" class="portfolio-tmpl__img">
        </div>
    </div>
    <div class="portfolio-tmpl__similar">
        <h2 class="portfolio-tmpl__similar-title">Similar projects</h2>
        <div class="portfolio-tmpl__similar-list">
            <div class="portfolio__item">
                <a href="{{ 'portfolio-coex'| page }}" class="portfolio__item-link">
                    <img src="{{ 'assets/img/portfolio-prev/coex.png'| theme }}" alt="coex preview image" class="portfolio__img-prev"/>
                    <div class="portfolio__item-desc">
                        <p class="portfolio__item-desc-title">Coex</p>
                        <p class="portfolio__item-desc-text">Responsive website for software development company</p>
                    </div>
                </a>
            </div>
            <div class="portfolio__item">
                <a href="{{ 'portfolio-english-uk'| page }}" class="portfolio__item-link">
                    <img src="{{ 'assets/img/portfolio-prev/englishUK.png'| theme }}" alt="Website design and development for English UK Wales preview" class="portfolio__img-prev"/>
                    <div class="portfolio__item-desc">
                        <p class="portfolio__item-desc-title">English UK (Wales English Language Courses)</p>
                        <p class="portfolio__item-desc-text">Website design and development for English UK Wales</p>
                    </div>
                </a>
            </div>
            <div class="portfolio__item">
                <a href="{{ 'portfolio-cuepath'| page }}" class="portfolio__item-link">
                    <img src="{{ 'assets/img/portfolio-prev/cuepath.png'| theme }}" alt="cuepath preview image" class="portfolio__img-prev"/>
                    <div class="portfolio__item-desc">
                        <p class="portfolio__item-desc-title">CuePath.io</p>
                        <p class="portfolio__item-desc-text">Applications for the Internet of things (IoT)</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
{% partial 'components/small-footer/small-footer' %}
