<div class="ada-audit" data-logo="burger-white">
    <header class="ada-audit--header">
        <div class="ada-audit--header-inner __inner">
            <div class="ada-audit--header-logo">
                <span class="ada-audit--header-logo-circle __1"></span>
                <img src="{{ 'assets/img/ada-audit/ada-logo.png'| theme}}" alt="ADA logo" class="ada-logo">
            </div>
            <h1 class="ada-audit--header-title">ADA Web Accessibility Audit Services</h1>
            <p class="ada-audit--header-text __small-text">According to the <a class="ada-audit--header-link" href="https://www.cdc.gov/ncbddd/disabilityandhealth/disability.html" rel="nofollow" target="_blank">Centers for Disease Control and Prevention</a> (CDC), 22% of the US population are people that have some sort of disability. With WCAG 2.1 web accessibility standards already in place, it won’t be long before official government regulations on website accessibility will be set forth.</p>
            <p class="ada-audit--header-text __small-text">Website accessibility will soon no longer be an option, but an obligation for web designers and developers. In this day and age it’s your absolute priority to make your services accessible to all individuals, with or without disabilities. </p>
        </div>
    </header>
    <section class="ada-audit--services">
        <div class="ada-audit--services-inner __inner">
            <h2 class="ada-audit--services-title __title">Our ADA Compliance Audit Services</h2>
            <p class="ada-audit--services-text __small-text">LOVATA Company performs accessibility audit in conformance with WCAG 2.1 A, AA and AAA levels for websites, web applications and mobile apps (iOS, Android or cross-platform).</p>
            <p class="ada-audit--services-text __small-text">We offer an array of accessibility audit, consulting and development services
                to accommodate all your needs:</p>
            <figure class="ada-audit--services-photo">
                <img src="/themes/lovata/assets/img/ada-audit/14-layers.png" alt="">
            </figure>
        </div>
    </section>
    <section class="ada-audit--techniques">
        <div class="ada-audit--techniques-inner __inner">
            <h2 class="ada-audit--techniques-title __title">ADA Website Audit Techniques</h2>
            <p class="ada-audit--techniques-text __text">During our ADA web accessibility audit we implement various techniques
            and methodologies to check your website and apps for the following:</p>
            <ul class="ada-audit--techniques-list">
                <li class="ada-audit--techniques-item">We apply automated testing to search for obvious violations of WCAG 2.1 compliance;</li>
                <li class="ada-audit--techniques-item">Automated testing tools reveal only 10-30% of known issues. Understanding that, we employ manual checks to ensure your site is navigable by keyboard, we test for content scaling, review and validate your CSS and HTML code to check for accessibility issues, such as improperly used ARIA labels according to WAI-ARIA guidelines;</li>
                <li class="ada-audit--techniques-item">We use assistive technology, such as screen readers, to verify that all WCAG 2.1 perceivable guidelines are met;</li>
                <li class="ada-audit--techniques-item">Insure your content contrast ratio meets the required level of conformance (usually level AA);</li>
                <li class="ada-audit--techniques-item">We view each page without styles and check for readability issues;</li>
                <li class="ada-audit--techniques-item">We also check for many other issues and barriers that may affect a disabled person’s browsing experience which are outlined by the WCAG 2.1 website accessibility standard.</li>
            </ul>
        </div>
    </section>
    <section class="ada-audit--request">
        <div class="ada-audit--request-block">
            <div class="ada-audit--request-info">
                <h3 class="ada-audit--request-title">Is my website ADA compliant? </h3>
                <p class="ada-audit--request-text">You can quickly check whether your website is ADA compliant by checking it against the basic WCAG guidelines. LOVATA has created a very useful checklist for you to do it yourself.</p>
            </div>
            <a href="{{ 'request-form'| page }}" class="ada-audit--request-link">Request checklist</a>
        </div>
    </section>
    <section class="ada-audit--wcag">
        <div class="ada-audit--wcag-inner __inner">
            <h2 class="ada-audit--wcag-title __title">Reasons to Perform a WCAG Audit</h2>
            <p class="ada-audit--wcag-text __text">We encourage you to check your website’s accessibility for the following reasons:</p>
            <ul class="ada-audit--wcag-list">
                <li class="ada-audit--wcag-item">
                    <h3 class="ada-audit--wcag-item-title">Commercial</h3>
                    <p class="ada-audit--wcag-item-text">Having an accessible website gains your services access to a broader audience, increasing overall traffic and revenues.</p>
                </li>
                <li class="ada-audit--wcag-item">
                    <h3 class="ada-audit--wcag-item-title">Legal</h3>
                    <p class="ada-audit--wcag-item-text">Although WCAG 2.1 is not yet backed by a statutory act (it is expected to be introduced in 2018), many companies have already faced serious litigation, suffered significant losses and incurred high legal expenses that followed ADA website compliance lawsuits. Check out our blog concerning website accessibility lawsuits to find out more. To avoid these complications, we strongly recommend you to make sure your website is accessible to people who have visual, hearing or other physical, cognitive or speech impairments.</p>
                </li>
                <li class="ada-audit--wcag-item">
                    <h3 class="ada-audit--wcag-item-title">Social and ethical</h3>
                    <p class="ada-audit--wcag-item-text">Taking into consideration that people with disabilities have equal rights to accessing online services and information, it’s our obligation to provide them with the tools and technology to avoid any barriers they might face.</p>
                </li>
                <li class="ada-audit--wcag-item">
                    <h3 class="ada-audit--wcag-item-title">Technological</h3>
                    <p class="ada-audit--wcag-item-text">Accessible websites and apps are usually developed using clean code, that’s easily changed, updated and maintained. This also makes them cost-effective and SEO-friendly.</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="ada-audit--technology">
        <div class="ada-audit--technology-inner __inner">
            <h2 class="ada-audit--technology-title __title">Tools and Technology We Use</h2>
            <p class="ada-audit--technology-text __text">We perform rigorous manual and automatic testing on your website’s or service’s accessibility, including the same tools & technologies used by the individuals with disabilities.</p>
            <ul class="ada-audit--technology-list">
                <li class="ada-audit--technology-item">
                    <img alt="Assistive technologies" class="ada-audit--technology-item-img" src="/themes/lovata/assets/img/ada-audit/assistive-tech.png">
                        <h3 class="ada-audit--technology-item-title">Assistive technologies:</h3>
                        <p class="ada-audit--technology-item-text">Magnifier, ZoomText, JAWS,
                            NVDA, VoiceOver, TalkBack,
                            Dragon Naturally Speaking
                        </p>
                </li>
                <li class="ada-audit--technology-item">
                    <img alt="Operating systems" class="ada-audit--technology-item-img" src="/themes/lovata/assets/img/ada-audit/operating-systems.png">
                        <h3 class="ada-audit--technology-item-title">Operating systems:</h3>
                        <p class="ada-audit--technology-item-text">Windows 7-10;
                            MacOS 10.9 and higher;
                            iOS 9 and higher
                        </p>
                </li>
                <li class="ada-audit--technology-item">
                    <img alt="Browsers" class="ada-audit--technology-item-img" src="/themes/lovata/assets/img/ada-audit/browser.png">
                        <h3 class="ada-audit--technology-item-title">Browsers: </h3>
                        <p class="ada-audit--technology-item-text">Chrome, Safari, Firefox, Opera, IE, Edge.</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="ada-audit--banner">
        <div class="ada-audit--banner-inner __inner">
            <h3 class="ada-audit--banner-title" >Still not convinced?</h3>
            <p class="ada-audit--banner-text">Check out our blog on ADA compliance for more information on why it’s reasonable to build websites that are accessible to people with disabilities.</p>
        </div>
    </section>
    <section class="ada-audit--accessibility">
        <div class="ada-audit--accessibility-inner __inner">
            <h2 class="ada-audit--accessibility-title __title">Web Accessibility Audit Deliverables</h2>
            <p class="ada-audit--accessibility-text __small-text">As a result of our thorough analysis and ADA web accessibility audit, depending on your requirements, you will receive:</p>
            <ul class="ada-audit--accessibility-list">
                <li class="ada-audit--accessibility-item _icon-blue">A detailed report and prioritized list of your website’s accessibility issues;</li>
                <li class="ada-audit--accessibility-item _icon-red">List of criteria and guidelines that were not met;</li>
                <li class="ada-audit--accessibility-item _icon-yellow">A roadmap containing recommended changes and a plan of action.</li>
            </ul>
        </div>
    </section>
    <section class="ada-audit--choose-lovata">
        <div  class="ada-audit--choose-lovata-inner">
            <h2 class="ada-audit--choose-lovata-title">Choose LOVATA as your accessibility expert</h2>
            <a href="{{ 'request-form'| page }}" class="ada-audit--choose-lovata-link">
                <span  class="ada-audit--choose-lovata-link_text">Contact us today</span>
            </a>
        </div>
    </section>
</div>
{% partial 'components/small-footer/small-footer' %}
