<main class="landing-page__container mean-stack" data-logo="burger-white">

    <header class="landing-page__header mean-stack__header">
        <div class="landing-page__inner-block">
            <h1 class="landing-page__main-title">MEAN Stack <br>Development Company</h1>
             <div class="landing-page__header-icon">
                <span class="landing-page__header-icon-wrap">
                    <img src="{{ 'assets/img/mean-stack/nodejs.svg' | theme }}" class="landing-page__header-icon-img" alt="nodeJs icon">
                </span>
                 <span class="landing-page__header-icon-wrap landing-page__header-icon-wrap_3">
                    <img src="{{ 'assets/img/mean-stack/mongo.svg' | theme }}" class="landing-page__header-icon-img" alt="mongo icon">
                </span>
                <span class="landing-page__header-icon-wrap landing-page__header-icon-wrap_2">
                    <img src="{{ 'assets/img/mean-stack/express.png' | theme }}" class="landing-page__header-icon-img" alt="Express icon">
                </span>
                <span class="landing-page__header-icon-wrap landing-page__header-icon-wrap_1">
                    <img src="{{ 'assets/img/mean-stack/angular.svg' | theme }}" class="landing-page__header-icon-img" alt="angular icon">
                </span>

                <span class="landing-page__icon-border landing-page__icon-border_size-s"></span>
                <span class="landing-page__icon-border landing-page__icon-border_size-m"></span>
                <span class="landing-page__icon-border landing-page__icon-border_size-l"></span>
            </div>
        </div>
    </header>

    <section class="landing-page__section mean-stack__info">
        <div class="landing-page__inner-block">
            <p class="landing-page__text">MEAN is an open-source Javascript software stack used by LOVATA Company to build scalable dynamic websites and web/mobile applications. MEAN contains the following components: <mark class="landing-page__mark">MongoDB</mark>, <mark class="landing-page__mark">ExpressJS</mark>, <mark class="landing-page__mark">AngularJS</mark> and <mark class="landing-page__mark">NodeJS</mark>. It can be used for full-stack Javascript development to create feature-rich dynamic websites and applications. It’s primary advantage is that all of the components run on the same language: for both the back-end and the front-end of the website/app. Everything is JS, so the solutions can be built to run on any platform, and don’t require sustaining multiple code bases and working in different environments.</p>
        </div>
    </section>

    <section class="landing-page__section landing-page__yellow-decoration mean-stack__being-mean">
        <div class="landing-page__inner-block">
            <h2 class="landing-page__title">The Perks Of Being MEAN</h2>
            <p class="landing-page__text">Here’s what makes the MEAN stack stand out, and why we like to use it for our projects:</p>
            <ul class="landing-page__list landing-page__plus-list">
                <li class="landing-page__list-item">As stated above, number one is that <mark class="landing-page__mark">everything runs through the same language - Javascript</mark> for both the front-end and back-end development. There is no need to involve strong PHP developers which results in saving production time and the clients money</li>
                <li class="landing-page__list-item">MEAN uses a <mark class="landing-page__mark">non-relational database, MongoDB</mark>, which is ultimately faster and more optimized for building scalable solutions</li>
                <li class="landing-page__list-item">Another benefit of MEAN is that the <mark class="landing-page__mark">NodeJs framework</mark> comes with its <mark class="landing-page__mark">own web server</mark> and runs on any operating system, so it can easily be merged to any environment</li>
                <li class="landing-page__list-item">The <mark class="landing-page__mark">front-end AngularJS application framework</mark> allows us to deliver <mark class="landing-page__mark">high performance in apps across all platforms</mark>: whether it’s web, mobile, native or hybrid</li>
                <li class="landing-page__list-item">The <mark class="landing-page__mark">back-end of the MEAN stack, ExpressJS</mark>, gives us the advantages of an <mark class="landing-page__mark">MVC architecture</mark> and allows to <mark class="landing-page__mark">separate business logic and representation</mark> and to build robust, reliable solutions with minimal amount of bugs and less time spent on quality assurance and testing.</li>
            </ul>
        </div>
    </section>


    <section class="landing-page__section landing-page__portfolio">
        <div class="landing-page__inner-block">
            <h2 class="landing-page__title landing-page__title_align-center">Our Portfolio</h2>
            <p class="landing-page__text">We have delivered many solutions using the MEAN stack over the years, here’s to name a few:</p>
        </div>
        <div class="landing-page__portfolio-list portfolio__list">
            <div class="portfolio__item">
                <a href="{{ 'portfolio-cuepath'| page }}" class="portfolio__item-link">
                    <img src="{{ 'assets/img/portfolio-prev/cuepath.png'| theme }}" alt="Applications for the Internet of things (IoT) preview" class="portfolio__img-prev"/>
                    <div class="portfolio__item-desc">
                        <p class="portfolio__item-desc-title">CuePath.io</p>
                        <p class="portfolio__item-desc-text">Applications for the Internet of things (IoT)</p>
                    </div>
                </a>
            </div>

        </div>
    </section>

    <section class="landing-page__section landing-page__blue-decoration mean-stack__meanest">
        <div class="landing-page__inner-block">
            <h2 class="landing-page__title">Why We Are The MEANest</h2>
            <p class="landing-page__text">Here’s why you should choose LOVATA as your MEAN stack developer:</p>
            <ul class="landing-page__list landing-page__plus-list landing-page__plus-list_blue">
                <li class="landing-page__list-item"><mark class="landing-page__mark_blue">Our development team</mark> consists of <mark class="landing-page__mark_blue">full-stack stack MEAN developers</mark> with extensive knowledge and experience in delivering feature-rich scalable cross-platform solutions, while meeting the client’s deadlines and sticking to the project’s budget;</li>
                <li class="landing-page__list-item"><mark class="landing-page__mark_blue">We understand the MEAN stack model</mark>, all of the strengths and weaknesses of this technology and know how to utilize them to your advantage;</li>
                <li class="landing-page__list-item">We build <mark class="landing-page__mark_blue">complex, feature-rich, scalable websites and apps</mark> that are highly secure, maintainable and reliable;</li>
                <li class="landing-page__list-item">We offer <mark class="landing-page__mark_blue">high quality product development</mark> at <mark class="landing-page__mark_blue">competitive prices</mark>;</li>
                <li class="landing-page__list-item">Our services go <mark class="landing-page__mark_blue">beyond just design and development</mark> and span through <mark class="landing-page__mark_blue">consulting and full product support & development</mark> after the product is launched to market;</li>
                <li class="landing-page__list-item">Our in-house team is always there to <mark class="landing-page__mark_blue">support our client</mark>. Feel free to contact us whenever you require our help.</li>
            </ul>
        </div>
    </section>

    <footer class="landing-page__order mean-stack__contact">
        <div class="landing-page__inner-block">
            <p class="landing-page__text">Please don’t hesitate to contact us if you would like to discuss your next MEAN stack project.</p>
            <a href="{{ 'request-form'| page }}" class="landing-page__order-btn" data-btn-request>
                <span class="landing-page__order-btn-text">Contact Us Today</span>
            </a>
        </div>
    </footer>

</main>

{% partial 'components/small-footer/small-footer' %}
