<div class="ada" data-logo="burger-white">
    <header class="ada--header">
        <div class="ada--logo-wrap">
            <span class="ada--logo-circle _1"></span>
            <span class="ada--logo-circle _2"></span>
            <span class="ada--logo-circle _3"></span>
            <img src="{{ 'assets/img/ada-compliance/logo-ada.svg'| theme}}" alt="ADA logo" class="ada--logo">
        </div>
        <h1 class="ada--title">Accessibility Web Development, Design and ADA Compliance Services</h1>
        <p class="ada--desc">We provide a full range of accessible web development and mobile app development services: from consulting and ADA compliant design to accessible development and product launch. LOVATA’s ADA compliance consultants will conduct a comprehensive evaluation of your website or mobile app and develop a strategy for facilitating accessibility transformation of your business.</p>
    </header>
    <section class="ada--content">
        <div class="ada--content-top">
            <p class="ada--content-top-text">Accessible and ADA compliant website or mobile app will help your business to develop a competitive advantage and attract additional loyal customers by providing them with a comfortable environment for getting information about your products or services.</p>
            <p class="ada--content-top-text">LOVATA’s ADA compliance consultants will conduct a comprehensive evaluation of your website or mobile app and develop a strategy for facilitating accessibility transformation of your business.</p>
        </div>
        <div class="ada--advantage">
            <h2 class="ada--advantage-title">We offer:</h2>
            <ul class="ada--advantage-list">
                <li class="ada--advantage-item">
                    <div class="ada--advantage-item-count _desktop">1</div>
                    <h2 class="ada--advantage-item-title">
                        <span class="ada--advantage-item-count _mobile">1.</span>
                        ADA Web Accessibility Audit
                    </h2>
                    <p class="ada--advantage-item-text">With our solid experience in ADA compliance design and development, we know what makes your website ADA compliant. While performing <a href="{{ 'ada-audit'| page }}">ADA Web Accessibility Audit</a>, we will carry out an in-depth analysis of your website, check all its aspects for compliance with WCAG 2.1 guidelines and develop a detailed plan of action, highlighting areas where changes are needed.</a></p>
                </li>
                <li class="ada--advantage-item">
                    <div class="ada--advantage-item-count _desktop">2</div>
                    <h2 class="ada--advantage-item-title">
                        <span class="ada--advantage-item-count _mobile">2.</span>
                        ADA Compliant Web Design
                    </h2>
                    <p class="ada--advantage-item-text">When creating an ADA compliant design for your website or mobile application, we focus on the needs of all users while taking into account their limitations. LOVATA makes everything possible to ensure comfortable user experience for all users by designing ADA compliant solutions based on behavioral patterns of the target audience, including people with special needs.</p>
                </li>
                <li class="ada--advantage-item">
                    <div class="ada--advantage-item-count _desktop">3</div>
                    <h2 class="ada--advantage-item-title">
                        <span class="ada--advantage-item-count _mobile">3.</span>
                        Accessibility Web Development and Website Redesign
                    </h2>
                    <p class="ada--advantage-item-text">LOVATA will redesign your website or create an ADA compliant website for you from scratch. You will get a turnkey solution that will meet all your needs and will help you to streamline business processes. With our deep expertise and wide experience in accessible design and development, we will provide you with a modern website that will fully conform to accessibility standards, such as WCAG 2.1.</p>
                </li>
                <li class="ada--advantage-item">
                    <div class="ada--advantage-item-count _desktop">4</div>
                    <h2 class="ada--advantage-item-title">
                        <span class="ada--advantage-item-count _mobile">4.</span>
                        Accessible Web and Mobile Apps
                    </h2>
                    <p class="ada--advantage-item-text">If you entrust us with development of an ADA compliant mobile app for your business, you can be sure that you will receive a highly functional software solution for iOS and Android platforms. With our deep understanding of all ADA software development requirements, we create accessible mobile apps that open up great possibilities for your business.</p>
                </li>
            </ul>
        </div>
        <div class="ada--banner">
            <div class="ada--banner-box">
                <p class="ada--banner-text">LOVATA will help you maximize profits by increasing the number of your loyal customers. Once your web solutions are ADA compliant, the inflow of new customers is inevitable!</p>
            </div>
        </div>
    </section>

    {% partial 'components/why-lovata/why-lovata' %}

    <section class="ada--achievements">
        <ul class="ada--achievements-list">
            <li class="ada--achievements-item">
                <h2 class="ada--achievements-item-title">100+</h2>
                <span class="ada--achievements-item-text">happy customers</span>
            </li>
            <li class="ada--achievements-item">
                <span class="ada--achievements-item-desc">More than</span>
                <h2 class="ada--achievements-item-title">10 000</h2>
                <span class="ada--achievements-item-text">months combined experience</span>
            </li>
            <li class="ada--achievements-item">
                <h2 class="ada--achievements-item-title">10</h2>
                <span class="ada--achievements-item-text">years in business</span>
            </li>
        </ul>
    </section>
    <section class="ada--bottom">
        <a href="{{ 'request-form'| page }}" class="ada--btn-request" data-btn-request>
            <span class="ada--btn-request-text">Discuss my project</span>
        </a>
    </section>
</div>
{% partial 'components/small-footer/small-footer' %}
