<main class="landing-page__container startup-dev" data-logo="burger-white">

    <header class="landing-page__header startup-dev__header">
        <div class="landing-page__inner-block">
            <h1 class="landing-page__main-title">Software Development <br>For Startups</h1>
            <div class="landing-page__header-icon">
                <span class="landing-page__header-icon-wrap">
                    <img src="{{ 'assets/img/startup-dev/icon.svg' | theme }}" class="landing-page__header-icon-img" alt="Startups icon">
                </span>
                <span class="landing-page__icon-border landing-page__icon-border_size-s"></span>
                <span class="landing-page__icon-border landing-page__icon-border_size-m"></span>
                <span class="landing-page__icon-border landing-page__icon-border_size-l"></span>
            </div>
        </div>
    </header>

    <section class="landing-page__section landing-page__intro-block">
        <div class="landing-page__inner-block">
            <h2 class="landing-page__title">LOVATA: Your Idea - Our Design</h2>
            <p class="landing-page__text">It takes more than just raw ideas to build a successful software startup company. At LOVATA we work with you collaboratively on the project, equipping your team with well-rounded software engineers and designers to translate your ideas into astounding products that stir up the industry. If you have set goals to change the world with your product, our team of tech-savvy seasoned professionals and proven development methodologies can help you on your way to the top of the hill.</p>
        </div>
    </section>

    <section class="landing-page__section landing-page__banner-section">
        <div class="landing-page__inner-block landing-page__banner">
            <div class="landing-page__banner-inner-block">
                <h2 class="landing-page__title">What Can We Do For You?</h2>
                <p class="landing-page__text">We employ our immense experience and technological expertise of working with small-scale and large-scale businesses alike and strive to bring your best ideas to life. LOVATA’s team understands the need for startup projects to grow as fast as possible. To achieve this we use the finest techniques of agile software development and deliver MVPs at rapid speed, while at the same time providing top-notch quality assurance for high level product reliability. This way we reduce risks and insure your startup starts gaining success after its first inception into market.</p>
            </div>
        </div>
    </section>

    <section class="landing-page__section landing-page__blue-background">
        <div class="landing-page__inner-block">
            <h2 class="landing-page__title">The Process</h2>
            <p class="landing-page__text"></p>
            <ul class="landing-page__list landing-page__icons-list">
                <li class="landing-page__list-item">
                    <h3 class="landing-page__sub-heading">Ideation</h3>
                    <p class="landing-page__text">Our partnership with you starts with setting up a meeting to discuss your ideas and brainstorming ways to implement them. Our business analysts provide you with special advice, share valuable information and try to set you on the right path. You come with a raw idea, we polish it and turn it into a jewel.</p>
                    <img src="{{ 'assets/img/startup-dev/team.svg' | theme }}" alt="Ideation icon" class="landing-page__list-icon">
                </li>
                <li class="landing-page__list-item">
                    <h3 class="landing-page__sub-heading">Business Analysis</h3>
                    <p class="landing-page__text">Next comes the project evaluation and assessment where we formulate the specific features your project is going to have, build up a list of requirements and technical specifications. This is where your project is being shaped by our specialized team of developers and designers. Our team is extremely advanced in most aspects of design and development, so we use the latest stack of technologies to build the solution.</p>
                    <img src="{{ 'assets/img/startup-dev/money.svg' | theme }}" alt="Business Analysis icon" class="landing-page__list-icon">
                </li>
                <li class="landing-page__list-item">
                    <h3 class="landing-page__sub-heading">Design & Development</h3>
                    <p class="landing-page__text">Once we have created a concept of your project and obtained your approval, we immediately begin working on it. Our development methods allow us to engage you at every step of the process and involve you in critical decision-making where it is necessary, so you are always aware of the progress of development. We also employ quality assurance and testing at each iteration thus limiting the amount of bugs and issues.</p>
                    <img src="{{ 'assets/img/startup-dev/web-development.svg' | theme }}" alt="Design icon" class="landing-page__list-icon">
                </li>
                <li class="landing-page__list-item">
                    <h3 class="landing-page__sub-heading">Product Support</h3>
                    <p class="landing-page__text">Once we have delivered an MVP, we do not leave you and provide support and assistance in product launch and deployment. In other words we provide full product development services for startups and can also make sure your application reaches the Appstore.</p>
                    <img src="{{ 'assets/img/startup-dev/support.svg' | theme }}" alt="Support icon" class="landing-page__list-icon">
                </li>
            </ul>
        </div>
    </section>

    <section class="landing-page__section">
        <div class="landing-page__inner-block">
            <h2 class="landing-page__title">Our Software Development Services For Startups Include:</h2>
            <ul class="landing-page__list landing-page__dots-list">
                <li class="landing-page__list-item">Business and competitive environment analysis, full project assessment</li>
                <li class="landing-page__list-item">Software architecture development</li>
                <li class="landing-page__list-item">UI/UX design and development</li>
                <li class="landing-page__list-item">Mobile app development for startups: iOS, Android, Hybrid, PWA</li>
                <li class="landing-page__list-item">SAAS and cloud solutions development</li>
                <li class="landing-page__list-item">Software Quality Assurance & Testing</li>
                <li class="landing-page__list-item">Full product development services and support</li>
            </ul>
        </div>
    </section>

    <section class="landing-page__section landing-page__why-lovata">
        <div class="landing-page__inner-block">
            <h2 class="landing-page__title">We Become Your Partner</h2>
            <p class="landing-page__text">LOVATA understands business and knows that what startup founders are looking for are not just development teams which provide high quality coding and design. LOVATA Company provides you with a combination of the skills that you need, the technology that you need, and the partnership approach that most startup companies are always searching for.</p>
            <p class="landing-page__text">We are a dedicated team of high-class skilled professionals that are ready to dive into your project, integrate with your business and devote ourselves fully to your success. Your goals become our main priority. We work with you from start to finish, try to stick to initially set deadlines and keep the expenses to a minimum.</p>
        </div>
    </section>

    <footer class="landing-page__order">
        <div class="landing-page__inner-block">
            <p class="landing-page__text">Decided to become our new business partner? Don’t hesitate and send your request.</p>
            <a href="{{ 'request-form'| page }}" class="landing-page__order-btn" data-btn-request>
                <span class="landing-page__order-btn-text">Contact Us Today</span>
            </a>
        </div>
    </footer>
</main>

{% partial 'components/small-footer/small-footer' %}
