<article class="arenda" data-logo="black">

    <header class="arenda__header arenda__section_color_blue">
        <div class="arenda__inner-block">
            <div class="arenda__header-top">
                <h1 class="arenda__title">Construction Equipment Marketplace, A-renda.by Lease Services</h1>
            </div>
        </div>
    </header>

    <section class="arenda__section arenda__client">
        <div class="arenda__inner-block">
            <h2 class="arenda__content-title">Our client</h2>
            <p class="arenda__text">The client is <a href="http://www.belrent.by/" rel="nofollow" target="_blank">Instrument
                Croup</a>,
                a company specializing in construction equipment lease services.</p>
        </div>
    </section>

    <section class="arenda__section arenda__start arenda__section_color_blue">
        <div class="arenda__inner-block">
            <h2 class="arenda__content-title">What We Started With</h2>
            <p class="arenda__text">The project was built from the ground up. It started as an idea to solve the problem
                when the lessee didn’t have the opportunity to receive relevant information and the location of
                construction equipment lease services without having to make an actual phone call.</p>
        </div>
    </section>

    <section class="arenda__section arenda__analysis">
        <div class="arenda__inner-block">
            <h2 class="arenda__content-title">Business Analysis: Sharing Economy of Lease Services</h2>
            <p class="arenda__text">The client initially had great understanding of the market he was trying to step
                into. What we had to do within the framework of our business analysis was to analyze and search for
                competitive advantages our solution could provide potential clients with. So we gathered information
                about the two types of clients: the lessee and lessor; we also studied the main competitors and
                formulated our business model following the Sharing Economy concept (a marketplace of services provided
                by construction equipment lessors) which was based on the following:</p>
            <ul class="arenda__list arenda__list_with-marker">
                <li class="arenda__list-item">The lessee seeks information and
                    services right on the spot, so our main
                    goal was to provide relevant offers of construction equipment lease in real time with the help of
                    our custom CRM.
                </li>
                <li class="arenda__list-item">The lessor is willing to pay only for
                    actual clients, so we had to track
                    only actual deals that are made. The lessor has to be provided with a comprehensive overview and
                    statistics of his performance on the service, this way we provide fair partnership conditions.
                </li>
                <li class="arenda__list-item">Our competitors did not solve the
                    problems we were approaching. The
                    websites that were present at the time allowed users seeking construction equipment lease services
                    only to leave their contact information on the site for the service providers to contact them later
                    on.
                </li>
            </ul>
        </div>
    </section>

    <section class="arenda__section arenda__goals">
        <div class="arenda__inner-block">
            <h2 class="arenda__content-title">Main Goals And Objectives</h2>
            <p class="arenda__text">We were aiming to create a Sharing Economy service where users that are looking to
                lease equipment could look through a catalog of available products and product offers from various
                providers. We wanted the users to have the ability to see the offer’s relevance, its location on a map,
                availability and the conditions under which the lessor provides the equipment. Users were to have the
                opportunity to place an order for the equipment on the website or by phone call when they can also
                receive consultation on choosing the right equipment.</p>
            <p class="arenda__text">Providers were to have the ability to post product offers on the service and have
                the opportunity to view and manage information on incoming orders. The fee for an acquired client was to
                be fixed, however, it had to be different for each group of products.</p>
            <div class="portfolio-tmpl__columns-container">
                <div class="portfolio-tmpl__column">
                    <h3 class="arenda__list-title">Our long-term goals were to:</h3>
                    <ul class="arenda__list arenda__list_with-marker">
                        <li class="arenda__list-item">Create a service that allows the lessee to receive information
                            about equipment in stock and shipping conditions in real time;
                        </li>
                        <li class="arenda__list-item">Create a solution scalable to Russian, Ukrainian and other
                            European markets.
                        </li>
                    </ul>
                </div>
                <div class="portfolio-tmpl__column">
                    <h3 class="arenda__list-title">Our short-term goals were to:</h3>
                    <ul class="arenda__list arenda__list_with-marker">
                        <li class="arenda__list-item">Accommodate 90% of construction equipment available for lease in
                            the country;
                        </li>
                        <li class="arenda__list-item">Generate regular client / new client ratio of 30/70;</li>
                        <li class="arenda__list-item">Generate wholesale client / retail client ratio of 40/70;</li>
                        <li class="arenda__list-item">Entering break-even point within 12 Months.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="arenda__section arenda__project-scope arenda__section_color_blue">
        <div class="arenda__inner-block">
            <h2 class="arenda__content-title">Scope of the Project</h2>
            <p class="arenda__text">The project is composed of the following components:</p>
            <ul class="arenda__list arenda__list_font_common">
                <li class="arenda__list-item arenda__list-item_square arenda__list-item_color_green"><span
                    class="arenda__bold">Product catalog</span>
                    provides listings of available equipment from various lessors. The solution provides search,
                    filtering and sorting capabilities. For every piece of equipment, the client is able to see its
                    location on a map; the relevance of the offer and information about the conditions that the lessor
                    provides equipment under; and whether a product is currently in stock. Every provider has an
                    internal service rating which is based on the quality of service and the relevance of information
                    provided to the users of the service. The equipment could be ordered right from the website. It is
                    also possible to see the date when certain equipment becomes available for lease.
                </li>
                <li class="arenda__list-item arenda__list-item_square arenda__list-item_color_yellow"><span
                    class="arenda__bold">Order component</span>
                    which allows the users
                    to order the required products. Data regarding the order is fed straight to the CRM or to the
                    lessor’s profile page.
                </li>
                <li class="arenda__list-item arenda__list-item_square arenda__list-item_color_blue"><span
                    class="arenda__bold">Additional content and product reviews</span> are
                    used for drawing new clients, growing client loyalty and serve as an incentive for ordering products
                    from the website.
                </li>
                <li class="arenda__list-item arenda__list-item_square arenda__list-item_color_orange"><span
                    class="arenda__bold">The lessor’s profile page</span>
                    where the lessor is able to post equipment offers, view and manage incoming orders, view order
                    history, view service provision information, including financial.
                </li>
                <li class="arenda__list-item arenda__list-item_square arenda__list-item_color_dark-green"><span
                    class="arenda__bold">The provider’s CRM system</span>
                    allows to manage the company’s product catalogue; provides a database of clients where partnership
                    information is stored; allows to process and manage order information, bind an order to a client’s
                    location; provides an option to create and print out all necessary documentation regarding orders;
                    allows managing managers’ activity of working with clients and their efficiency; allows to display
                    current relevant information about the company’s activities.
                </li>
                <li class="arenda__list-item arenda__list-item_square arenda__list-item_color_pink"><span
                    class="arenda__bold">The system core</span>
                    where the system’s operators can manage incoming orders and process client information from the
                    website and phone calls, view and track the history of orders and other processes, collect all the
                    necessary information and help clients in choosing the right equipment for lease. The core also
                    holds a database of clients where operators can see the contacts and other information, analyze it
                    and send out commercial messages and advertisements. Another system core component is content
                    management where content managers organize all information presented on the service, view and change
                    product characteristics, add descriptions, change product info and the gallery of images for
                    products. The system core also allows for provider management. Based on the agreement between the
                    provider and the system owners it is possible to limit the CRM license or cut off the provider
                    completely. It is also possible to view system analytics on deals made on the client side of the
                    website and the sums that the providers are to transfer to the service. The component allows
                    changing the fee for deals made by providers.
                </li>
                <li class="arenda__list-item arenda__list-item_square arenda__list-item_color_dark-blue"><span
                    class="arenda__bold">Rating component</span> which allows managing providers’ rating.
                </li>
            </ul>
        </div>
    </section>

    <section class="arenda__section arenda__team">
        <div class="arenda__inner-block">
            <h2 class="arenda__content-title">Development Team</h2>
            <p class="arenda__text">We followed standard development processes and agile development techniques. The
                teams comprised of the following members.</p>
            <div class="portfolio-tmpl__columns-container">
                <div class="portfolio-tmpl__column">
                    <h3 class="arenda__list-title">LOVATA’s team:</h3>
                    <ul class="arenda__list arenda__list_with-marker">
                        <li class="arenda__list-item">Project manager;</li>
                        <li class="arenda__list-item">Business analyst;</li>
                        <li class="arenda__list-item">UI/UX expert;</li>
                        <li class="arenda__list-item">3 front-end specialists;</li>
                        <li class="arenda__list-item">2 back-end developers;</li>
                        <li class="arenda__list-item">2 QA engineers.</li>
                    </ul>
                </div>
                <div class="portfolio-tmpl__column">
                    <h3 class="arenda__list-title">Client’s team:</h3>
                    <ul class="arenda__list arenda__list_with-marker">
                        <li class="arenda__list-item">CEO;</li>
                        <li class="arenda__list-item">Product Owner;</li>
                        <li class="arenda__list-item">Content Manager;</li>
                        <li class="arenda__list-item">A team of marketing specialists.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="arenda__section arenda__results arenda__section_color_blue">
        <div class="arenda__inner-block">
            <h2 class="arenda__content-title">The Results and Achievements</h2>
            <ul class="arenda__list">
                <li class="arenda__list-item arenda__list-item_square arenda__list-item_color_blue">The service already has over <strong class="arenda__strong">20 000 users</strong>, 49.2% of which return when they need more services;</li>
                <li class="arenda__list-item arenda__list-item_square arenda__list-item_color_green">There are currently <strong class="arenda__strong">over 100 lessors</strong> present on the service;</li>
                <li class="arenda__list-item arenda__list-item_square arenda__list-item_color_yellow">The providers on the service have already gathered <strong class="arenda__strong">over 2000 requests</strong>.
                </li>
            </ul>
        </div>
    </section>

    <section class="arenda__section arenda__features">
        <div class="arenda__inner-block">
            <h2 class="arenda__content-title">Unique features</h2>
            <p class="arenda__text">At the time of the project’s initial launch, it had no real competition and provided
                a unique set of features, laid out by the Sharing Economy business model we formulated and implemented
                in
                the solution. Other services provided a platform where users could leave requests for construction
                equipment
                lease services while our solution provided a full-fledged marketplace of services where you could:</p>
            <ul class="arenda__list arenda__list_with-marker">
                <li class="arenda__list-item">View relevant information on currently available products for lease;</li>
                <li class="arenda__list-item">See the period of time after a certain product becomes available;</li>
                <li class="arenda__list-item">See the product’s location on a map;</li>
                <li class="arenda__list-item">View the conditions under which the lessor provides services;</li>
                <li class="arenda__list-item">Check the quality of equipment and services the lessor provides;</li>
                <li class="arenda__list-item">Place orders on products in real time via the marketplace website or a
                    direct phone call.
                </li>
            </ul>
            <p class="arenda__text">A direct phone call also gives users the opportunity to receive consultation
                regarding the right construction equipment for their particular needs.</p>
        </div>
    </section>

    <footer class="arenda__section arenda__footer">
        <div class="arenda__tech arenda__inner-block">
            <h2 class="arenda__content-title">Technologies:</h2>
            <ul class="arenda__tech-list">
                <li class="arenda__tech-list-item">
                    <a href="{{ 'october'| page }}">
                        <img class="arenda__tech-list-img"  src="{{ 'assets/img/octoberCMS.png'| theme }}" alt="OctoberCMS icon">
                    </a>
                </li>
                <li class="arenda__tech-list-item">
                    <a href="{{ 'php-dev'| page }}">
                        <img class="arenda__tech-list-img"  src="{{ 'assets/img/php.png'| theme }}" alt="php icon"/>
                    </a>
                </li>
                <li class="arenda__tech-list-item">
                    <a href="{{ 'laravel-development'| page }}">
                        <img class="arenda__tech-list-img"  src="{{ 'assets/img/laravel-logo-white.png'| theme }}" alt="laravel icon">
                    </a>
                </li>
                <li class="arenda__tech-list-item">
                    <a href="{{ 'js-dev'| page }}">
                        <img class="arenda__tech-list-img" src="{{ 'assets/img/js.svg'| theme }}" alt="JavaScript icon"/>
                    </a>
                </li>
            </ul>
        </div>

        <div class="arenda__similar portfolio-tmpl__similar">
            <h2 class="portfolio-tmpl__similar-title">Similar projects</h2>
            <div class="portfolio-tmpl__similar-list">
                <div class="portfolio__item">
                    <a href="{{ 'portfolio-the-phone-cellar'| page }}" class="portfolio__item-link">
                        <img src="{{ 'assets/img/portfolio-prev/phonecellar.png'| theme }}" alt="Ecommerce website development preview" class="portfolio__img-prev"/>
                        <div class="portfolio__item-desc">
                            <p class="portfolio__item-desc-title">ThePhoneCellar</p>
                            <p class="portfolio__item-desc-text">Ecommerce website development</p>
                        </div>
                    </a>
                </div>
                <div class="portfolio__item">
                    <a href="{{ 'portfolio-jurist'| page }}" class="portfolio__item-link">
                        <img src="{{ 'assets/img/portfolio-prev/jurist.png'| theme }}" alt="National legal knowledge portal development preview" class="portfolio__img-prev"/>
                        <div class="portfolio__item-desc">
                            <p class="portfolio__item-desc-title">Jurist.by</p>
                            <p class="portfolio__item-desc-text">National legal knowledge portal development</p>
                        </div>
                    </a>
                </div>
                <div class="portfolio__item">
                    <a href="{{ 'portfolio-host-for-web'| page }}" class="portfolio__item-link">
                        <img src="{{ 'assets/img/portfolio-prev/hostForWeb.png'| theme }}" alt="Corporate website for hosting provider preview" class="portfolio__img-prev"/>
                        <div class="portfolio__item-desc">
                            <p class="portfolio__item-desc-title">HostForWeb corporate website</p>
                            <p class="portfolio__item-desc-text">Corporate website for hosting provider</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </footer>
</article>

{% partial 'components/small-footer/small-footer' %}
