<main class="landing-page__container back-end" data-logo="burger-white">

    <header class="landing-page__header back-end__header">
        <div class="landing-page__inner-block">
            <h1 class="landing-page__main-title">Back-End <br>Web Development Company</h1>
            <div class="landing-page__header-info">
                <p class="landing-page__header-info-text">Ever heard of the phrase “Never judge a book by its cover”? Well the same can be applied to a website or an app, it’s also unwise to judge it only by the design and front-end. It’s the back-end of an application that carries all the load and serves as it is the backbone to front-end functionality. At LOVATA we supply your interfaces with powerful, robust, state-of-the-art business logic that holds your app together and interlaces it with databases and third-party APIs. Our team of seasoned back-end developers are well-versed software engineers that have a knack for delivering high quality.</p>
            </div>
            <div class="landing-page__header-icon">
                <span class="landing-page__header-icon-wrap">
                    <img src="{{ 'assets/img/back-end-dev/icon.svg' | theme }}" class="landing-page__header-icon-img" alt="Back-End development icon">
                </span>
                <span class="landing-page__icon-border landing-page__icon-border_size-s"></span>
                <span class="landing-page__icon-border landing-page__icon-border_size-m"></span>
                <span class="landing-page__icon-border landing-page__icon-border_size-l"></span>
            </div>
        </div>
    </header>

    <section class="landing-page__section">
        <div class="landing-page__inner-block">
            <h2 class="landing-page__title">Our Back-End Development Services</h2>

            <ul class="landing-page__list landing-page__dots-list">
                <li class="landing-page__list-item">Custom back-end development</li>
                <li class="landing-page__list-item">Back-end development for existing front-ends</li>
                <li class="landing-page__list-item">Back-end refactoring with existing front-end</li>
                <li class="landing-page__list-item">Back-end development for web applications (SPA, PWA, etc.)</li>
                <li class="landing-page__list-item">In-house and third-party API integration</li>
                <li class="landing-page__list-item">ERP and CRM integration</li>
                <li class="landing-page__list-item">Migration to the cloud</li>
            </ul>
        </div>
    </section>

    <section class="landing-page__section landing-page__tools">
        <div class="landing-page__inner-block">
            <h2 class="landing-page__title">Our Back-End Technologies</h2>
            <p class="landing-page__text">Here’s our choice of technologies we use for our project back-ends:</p>

            <div class="landing-page__stack-table">
                <h3 class="landing-page__list-heading">Languages & frameworks</h3>
                <ul class="landing-page__list">
                    <li class="landing-page__list-item"><a href="{{ 'php-dev'| page }}">PHP</a></li>
                    <li class="landing-page__list-item"><a href="{{ 'javascript-dev'| page }}">JavaScript</a></li>
                    <li class="landing-page__list-item"><a href="{{ 'laravel-development'| page }}">Laravel</a></li>
                    <li class="landing-page__list-item">LAMP</li>
                    <li class="landing-page__list-item"><a href="{{ 'mean-stack'| page }}">MEAN</a></li>
                    <li class="landing-page__list-item"><a href="{{ 'nodejs-dev'| page }}">NodeJS</a></li>
                    <li class="landing-page__list-item">ExpressJS</li>
                    <li class="landing-page__list-item"><a href="{{ 'october'| page }}">October CMS</a></li>
                </ul>

                <h3 class="landing-page__list-heading">Databases</h3>
                <ul class="landing-page__list">
                    <li class="landing-page__list-item">MySql</li>
                    <li class="landing-page__list-item">Redis</li>
                    <li class="landing-page__list-item">NoSql</li>
                    <li class="landing-page__list-item">MongoDB</li>
                    <li class="landing-page__list-item">PostgreSQL</li>
                </ul>

                <h3 class="landing-page__list-heading">Servers & hosting</h3>
                <ul class="landing-page__list">
                    <li class="landing-page__list-item">Apache</li>
                    <li class="landing-page__list-item">nginx</li>
                    <li class="landing-page__list-item">Microsoft Azure</li>
                    <li class="landing-page__list-item">Amazon AWS</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="landing-page__section">
        <div class="landing-page__inner-block landing-page__left-border-block landing-page__box-shadow">
            <h2 class="landing-page__title">Our Back-End Developer Team</h2>
            <p class="landing-page__text">Coming to LOVATA for back-end development services you acquire a team of high-profile professionals and perfectionists at their work, striving to bring our clients the best solutions on the market. Each team member is an educated, well-versed and opinionated individual that contributes a skill-set vital to our company’s everyday success.</p>
            <p class="landing-page__text">We strongly believe in personal growth and try to give our developers the most challenging tasks. Over the years they have become hard-core coding gurus that are not afraid to tread new grounds.</p>
        </div>
    </section>

    <section class="landing-page__section back-end__flexdev">
        <div class="landing-page__inner-block">
            <h2 class="landing-page__title">Flexible Development</h2>
            <p class="landing-page__text">Our agile approach and the use of modern development techniques and methodologies gives us tremendous flexibility, so our clients may provide us with feedback and inquire to make changes to the product at any stage of development. We practise transparency when communicating with clients, so they are always aware of the progress of development.</p>
            <p class="landing-page__text">Our project managers make regular calls to inform you of any significant issues that occur, we also organize regular meetings to discuss the current state of development and our immediate plans of implementing new features. Quality assurance and testing entails every step of the process. The result is a reliable, stable and scalable back-end solution that you can count on.</p>
        </div>
    </section>

    <section class="landing-page__section landing-page__why-lovata">
        <div class="landing-page__inner-block">
            <h2 class="landing-page__title">Why LOVATA?</h2>
            <p class="landing-page__text">Why choose us? Are you in need of an app that runs fast, without glitches and lags, seamlessly interacting with the user, providing him with a front-end UX that actually works and does what it’s expected to do? Then LOVATA Company is your best-choice back-end developer. With over 10 years of design & development experience, over 100 clients across the globe, and an immaculate track record of delivering projects on time and within budget, we pride ourselves in providing you with nothing but quality solutions to drive your business forward. Inquire about your project today.</p>
        </div>
    </section>

    <footer class="landing-page__order">
        <div class="landing-page__inner-block">
            <a href="{{ 'request-form'| page }}" class="landing-page__order-btn" data-btn-request>
                <span class="landing-page__order-btn-text">Contact Us Today</span>
            </a>
        </div>
    </footer>
</main>

{% partial 'components/small-footer/small-footer' %}
