<section class="portfolio-tmpl">
    <div class="portfolio-tmpl__container">
        <div class="portfolio-tmpl__header">
            <div class="portfolio-tmpl__header-top">
                <h1 class="portfolio-tmpl__title">Sales Point System for Life:) Telecommunications Company</h1>
                <div class="portfolio-tmpl__customer">Customer: <span class="portfolio-tmpl__customer-name">Life:)</span></div>
            </div>

        </div>

        <h2 class="portfolio-tmpl__content-title">Our Client</h2>
        <p class="portfolio-tmpl__desc"><a href="http://en.life.com.by/" rel="nofollow" target="_blank" class="portfolio-tmpl__desc-link">Life:)</a> is a subsidiary of one of the leading telecommunications companies on the European mobile market, Turkcell, that offers high-tech and convenient communication solutions, including mobile phone and internet coverage, iTV services and more.</p>

        <h2 class="portfolio-tmpl__content-title">The Problem</h2>
        <p class="portfolio-tmpl__desc">The client had a problem of monitoring sales of its accessories by dealers located throughout the country’s regions and regional centers. Virtually, the company had no way of tracking & planning the dealers’ sales activity and no way of forming an adequate supply chain management strategy for dealers located across the country.</p>
        <p class="portfolio-tmpl__desc">Company’s officials started receiving complaints about shortages of crucial accessories, such as SIM cards, and, as a result, having trouble with providing its services to certain regional centers. A new monitoring system needed to be introduced to keep track of outcoming and incoming accessories to and from the company’s and dealers’ warehouses. This is where LOVATA’s experts stepped in.</p>

        <h2 class="portfolio-tmpl__content-title">The Solution - a Simple Web Interface for Dealers</h2>
        <p class="portfolio-tmpl__desc">LOVATA’s team designed a web application as part of the company’s official dealers’ web portal with a simple, intuitive interface for managing incoming and outcoming merchandise. Our experts had to work hard on delivering the heavy back-end of the solution. The application was integrated with the client’s stock-taking management systems and databases to provide warehouse stock clerks with the possibility to scan merchandise IDs into the system.</p>
        <p class="portfolio-tmpl__desc">This way the company could see and track the movement of its products and accessories across all dealer locations, including warehouses and sales points throughout the country’s regional centers.</p>

        <figure class="portfolio-tmpl__img-wrap">
            <img src="{{ 'assets/img/portfolio_site/life/bar-code-scan.png'| theme }}" alt="scan bar-code screenshot" class="portfolio-tmpl__img">
            <figcaption class="portfolio-tmpl__img-title">Bar-code Input Form</figcaption>
        </figure>

        <h2 class="portfolio-tmpl__content-title">Results</h2>
        <p class="portfolio-tmpl__desc">The solution was simple, yet groundbreaking. Life:) Company’s dealers now had an application as part of the official dealers’ web portal where they could sign up and create their personal profile. This profile was then used for merchandise tracking and sales management purposes. The application provided the transparency of regional sales that Life:) needed to eliminate the problem they have come to us with.</p>
        <p class="portfolio-tmpl__desc">By using our solution, both Life:) officials and the company’s dealers could easily keep track of their stocks, view incoming and outcoming merchandise, the history of merchandise movement - all through a simple, user-friendly interface. The company gained an opportunity to adjust its distribution strategies, more effectively plan their assets and organize efficient supply chain management which strongly benefited their business.</p>

        <figure class="portfolio-tmpl__img-wrap">
            <img src="{{ 'assets/img/portfolio_site/life/login.png'| theme }}" alt="login page screenshot" class="portfolio-tmpl__img">
            <figcaption class="portfolio-tmpl__img-title">Sales Point System Authorization</figcaption>
        </figure>


        <figure class="portfolio-tmpl__img-wrap">
            <img src="{{ 'assets/img/portfolio_site/life/user-profile.png'| theme }}" alt="bar-code input history screenshot" class="portfolio-tmpl__img">
            <figcaption class="portfolio-tmpl__img-title">Bar-code Input History</figcaption>
        </figure>

        <div class="portfolio-tmpl__tech">
            <h2 class="portfolio-tmpl__tech-title">Technologies:</h2>
            <div class="portfolio-tmpl__tech-list">
                <a href="{{ 'php-dev'| page }}" class="portfolio-tmpl__tech-link stub"># PHP</a>
                <a href="#" class="portfolio-tmpl__tech-link"># MODx</a>
            </div>
        </div>
    </div>

    <div class="portfolio-tmpl__similar">
        <h2 class="portfolio-tmpl__similar-title">Similar projects</h2>
        <div class="portfolio-tmpl__similar-list">
            <div class="portfolio__item">
                <a href="{{ 'portfolio-we-bridge'| page }}" class="portfolio__item-link">
                    <img src="{{ 'assets/img/portfolio-prev/weBridge.png'| theme }}" alt="Responsive Website for a UK language academy preview" class="portfolio__img-prev"/>
                    <div class="portfolio__item-desc">
                        <p class="portfolio__item-desc-title">we-bridge.co.uk</p>
                        <p class="portfolio__item-desc-text">Responsive Website for a UK language academy</p>
                    </div>
                </a>
            </div>
            <div class="portfolio__item">
                <a href="{{ 'portfolio-sci-reader'| page }}" class="portfolio__item-link">
                    <img src="{{ 'assets/img/portfolio-prev/scireader.png'| theme }}" alt="Responsive web platform for Stanford University preview" class="portfolio__img-prev"/>
                    <div class="portfolio__item-desc">
                        <p class="portfolio__item-desc-title">SciReader</p>
                        <p class="portfolio__item-desc-text">Responsive web platform for Stanford University</p>
                    </div>
                </a>
            </div>
            <div class="portfolio__item">
                <a href="{{ 'portfolio-mailru-face-recognition'| page }}" class="portfolio__item-link">
                    <img src="{{ 'assets/img/portfolio-prev/mailru-face-rec.png'| theme }}" alt="Mail.ru Face Recognition App preview" class="portfolio__img-prev"/>
                    <div class="portfolio__item-desc">
                        <p class="portfolio__item-desc-title">Mail.ru Group</p>
                        <p class="portfolio__item-desc-text">Face Recognition App</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
{% partial 'components/small-footer/small-footer' %}
