<footer class="small-footer" >
    <div class="small-footer--inner">
        <div class="small-footer--top">
            <div class="small-footer--logo">
                <img class="small-footer--logo-img" src="/themes/lovata/assets/img/clutch-logo.png" alt="clutch-logo">
                <span class="small-footer--logo-text">
                    <p>Top Web & Software Developers 2018</p>
                    <p>Global Leaders 2017</p>
                </span>
            </div>
            <div class="small-footer--contact">
                <div class="small-footer--mail">Contact us at <a href="mailto:info@lovata.com" class="">info@lovata.com</a> or leave a request</div>
                <div class="small-footer--text">Our job is to turn your idea into reality!</div>
            </div>
            <a href="{{ 'request-form'| page }}" class="small-footer--btn-request" data-btn-request>Send request</a>
        </div>
        <div class="small-footer--bottom">
            <div class="small-footer--bottom-right">
                <a href="tel:+48511977974" class="small-footer--tel"> +48 511 977 974 (Poznań)</a>
            </div>
            <div class="small-footer--copyright">&#9400; {{ "now"|date("Y") }} LOVATA. All rights reserved</div>
        </div>
    </div>
</footer>
